### Building evasion vs. mean time interval : by Bus - THIS IS A TEST

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
from importlib import reload
import datetime as dt
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

In [2]:
from Utils import TransantiagoConstants

In [3]:
periods_path = "C:/Users/leoca_000/Desktop/Evasion/01_analisis/03_datos/06_RFA/01_EvasionTrimestral/01_analisis/periods.xlsx"
first_quarter_path = "C:/Users/leoca_000/Desktop/Evasion/01_analisis/03_datos/06_RFA/01_EvasionTrimestral/01_analisis/1st_quarter.xlsx"
second_quarter_path = "C:/Users/leoca_000/Desktop/Evasion/01_analisis/03_datos/06_RFA/01_EvasionTrimestral/01_analisis/2nd_quarter.xlsx"
third_quarter_path = "C:/Users/leoca_000/Desktop/Evasion/01_analisis/03_datos/06_RFA/01_EvasionTrimestral/01_analisis/3rd_quarter.xlsx"

In [4]:
first_quarter_evasion = pd.read_excel(first_quarter_path, encoding = 'latin-1')
second_quarter_evasion = pd.read_excel(second_quarter_path, encoding = 'latin-1')
third_quarter_evasion = pd.read_excel(third_quarter_path, encoding = 'latin-1')
periods = pd.read_excel(periods_path)

In [5]:
first_quarter_evasion['TIEMPO'] = first_quarter_evasion['HORA'].astype(str)+':'+first_quarter_evasion['MINUTOS'].astype(str)+':00'
second_quarter_evasion['TIEMPO'] = second_quarter_evasion['HORA'].astype(str)+':'+second_quarter_evasion['MINUTOS'].astype(str)+':00'
third_quarter_evasion['TIEMPO'] = third_quarter_evasion['HORA'].astype(str)+':'+third_quarter_evasion['MINUTOS'].astype(str)+':00'

In [6]:
first_quarter_evasion.columns = ['FECHA', 'SERVICIO','PATENTE','PUERTAS','N_PUERTA','LUGAR_INICIO','HORA_INICIO','HORA','MINUTO','INGRESAN','NO_VALIDAN','TP','TIEMPO']
second_quarter_evasion.columns = ['FECHA', 'SERVICIO','TIPO','PATENTE','PUERTAS','N_PUERTA','LUGAR_INICIO','HORA_INICIO','HORA','MINUTO','INGRESAN','NO_VALIDAN','TP','TIEMPO']
third_quarter_evasion.columns = ['FECHA', 'SERVICIO','PATENTE','PUERTAS','N_PUERTA','LUGAR_INICIO','HORA_INICIO','HORA','MINUTO','INGRESAN','NO_VALIDAN','TP','TIEMPO']
del second_quarter_evasion['TIPO']

In [7]:
type(first_quarter_evasion.loc[0,'TIEMPO'])

str

In [8]:
type(first_quarter_evasion.loc[0,'FECHA'])

pandas._libs.tslib.Timestamp

In [9]:
frames = [first_quarter_evasion, second_quarter_evasion, third_quarter_evasion]
evasion = pd.concat(frames, keys=['first', 'second', 'third'])

* Processing evasion-ddbb before merging

In [10]:
evasion['PATENTE'] =  evasion['PATENTE'].str.replace(' ','')
evasion_paradero = evasion[evasion['TP']=='P']
evasion_paradero_first = evasion_paradero[evasion_paradero['N_PUERTA']==1]

* Getting evasion by bus

In [11]:
summary = evasion_paradero_first.groupby(['FECHA','PATENTE'])['INGRESAN','NO_VALIDAN'].agg(['count','sum'])
summary.columns=['EVASION_COUNT', 'TOTAL_INGRESAN', 'tmp_count' ,'TOTAL_NO_VALIDAN']
del summary['tmp_count']
summary.reset_index(inplace=True)

* Computing evasion rate

In [12]:
summary.loc[:,'EVASION_RATE'] = summary.loc[:,'TOTAL_NO_VALIDAN']/summary.loc[:,'TOTAL_INGRESAN']

In [13]:
summary[summary['EVASION_RATE']==1]

,FECHA,PATENTE,EVASION_COUNT,TOTAL_INGRESAN,TOTAL_NO_VALIDAN,EVASION_RATE
530,2017-04-18,CJRZ93,16,21,21,1.0
571,2017-05-09,CJRR51,17,7,7,1.0

In [14]:
summary[summary['EVASION_RATE']==0]

,FECHA,PATENTE,EVASION_COUNT,TOTAL_INGRESAN,TOTAL_NO_VALIDAN,EVASION_RATE
2,2017-01-10,BJFK40,17,40,0,0.0
22,2017-01-11,BKXV85,10,8,0,0.0
44,2017-01-11,FLXR61,9,10,0,0.0
87,2017-01-17,CJRT79,13,16,0,0.0
118,2017-01-18,CJRP59,32,32,0,0.0
127,2017-01-18,FLXB60,7,15,0,0.0
152,2017-02-07,CJRP24,9,4,0,0.0
198,2017-02-08,ZN6481,18,46,0,0.0
242,2017-02-15,CJRB18,12,32,0,0.0
252,2017-02-15,CJRF65,13,27,0,0.0
254,2017-02-15,CJRF81,11,38,0,0.0
256,2017-02-15,CJRG98,22,20,0,0.0
263,2017-02-15,FLXD31,6,16,0,0.0
264,2017-02-15,FLXD39,5,16,0,0.0
267,2017-02-15,FLXG26,9,57,0,0.0
288,2017-03-08,CJRY23,8,6,0,0.0
291,2017-03-08,CJRY57,12,29,0,0.0
295,2017-03-08,MY3913,13,35,0,0.0
306,2017-03-09,FLXB75,20,62,0,0.0
332,2017-03-15,BJFF58,34,161,0,0.0
363,2017-03-16,BBKD29,13,8,0,0.0
377,2017-03-16,ZK7449,5,9,0,0.0
378,2017-03-16,ZK7451,10,19,0,0.0
444,2017-04-11,CJRF87,12,57,0,0.0
451,2017-04-11,CJRK38,11,12,0,0.0
454,2017-04-11,CJRK46,3,6,0,0.0
524,2017-04-18,CJRY21,54,153,0,0.0
525,2017-04-18,CJRY49,10,15,0,0.0
535,2017-04-18,FLXB64,15,17,0,0.0
538,2017-04-18,FLXC41,22,46,0,0.0
...,...,...,...,...,...,...
774,2017-06-15,CJRY18,31,67,0,0.0
776,2017-06-15,CJRZ49,5,8,0,0.0
803,2017-06-20,BJFZ93,17,42,0,0.0
843,2017-07-13,CJRV32,7,9,0,0.0
866,2017-07-18,CJJH75,23,58,0,0.0
872,2017-07-18,FLXB96,48,86,0,0.0
882,2017-07-18,FLXK71,20,41,0,0.0
893,2017-07-19,BJFS21,9,7,0,0.0
906,2017-07-19,CJRT68,17,46,0,0.0
910,2017-07-19,CJRY49,34,41,0,0.0
916,2017-07-19,CJRZ54,7,6,0,0.0
921,2017-07-19,FLXB47,13,21,0,0.0
927,2017-07-19,FLXR62,21,44,0,0.0
986,2017-08-09,CJRP86,11,2,0,0.0
990,2017-08-09,CJRR90,13,33,0,0.0
992,2017-08-09,CJRS26,20,30,0,0.0
1021,2017-08-17,CJRG57,21,6,0,0.0
1024,2017-08-17,CJRX50,8,16,0,0.0
1026,2017-08-17,CJRY77,19,38,0,0.0
1027,2017-08-17,CJRZ62,8,17,0,0.0
1038,2017-08-22,BFKB80,17,39,0,0.0
1055,2017-08-22,CJRY60,8,51,0,0.0
1090,2017-09-12,BJFG24,12,24,0,0.0
1111,2017-09-12,WH2085,14,51,0,0.0
1112,2017-09-12,WH2088,11,38,0,0.0
1122,2017-09-13,BJFB86,15,51,0,0.0
1151,2017-09-13,CJRD70,16,24,0,0.0
1168,2017-09-26,CJRC44,13,40,0,0.0
1173,2017-09-26,CJRK38,6,16,0,0.0
1174,2017-09-26,FLXB94,23,64,0,0.0

* Filtering by common_dates

In [15]:
common_dates = TransantiagoConstants.common_dates

In [16]:
common_dates_timestamp = [pd.to_datetime(x) for x in common_dates]

In [17]:
common_dates_evasion = summary[summary['FECHA'].isin(common_dates_timestamp)]

In [18]:
common_dates_evasion[common_dates_evasion['EVASION_RATE']==0]

,FECHA,PATENTE,EVASION_COUNT,TOTAL_INGRESAN,TOTAL_NO_VALIDAN,EVASION_RATE
306,2017-03-09,FLXB75,20,62,0,0.0
332,2017-03-15,BJFF58,34,161,0,0.0
363,2017-03-16,BBKD29,13,8,0,0.0
377,2017-03-16,ZK7449,5,9,0,0.0
378,2017-03-16,ZK7451,10,19,0,0.0
444,2017-04-11,CJRF87,12,57,0,0.0
451,2017-04-11,CJRK38,11,12,0,0.0
454,2017-04-11,CJRK46,3,6,0,0.0
524,2017-04-18,CJRY21,54,153,0,0.0
525,2017-04-18,CJRY49,10,15,0,0.0
535,2017-04-18,FLXB64,15,17,0,0.0
538,2017-04-18,FLXC41,22,46,0,0.0
740,2017-06-14,WG7194,4,4,0,0.0
759,2017-06-15,CJRG28,15,52,0,0.0
765,2017-06-15,CJRS20,17,22,0,0.0
766,2017-06-15,CJRS44,8,15,0,0.0
770,2017-06-15,CJRT74,8,6,0,0.0
774,2017-06-15,CJRY18,31,67,0,0.0
776,2017-06-15,CJRZ49,5,8,0,0.0
843,2017-07-13,CJRV32,7,9,0,0.0
866,2017-07-18,CJJH75,23,58,0,0.0
872,2017-07-18,FLXB96,48,86,0,0.0
882,2017-07-18,FLXK71,20,41,0,0.0
893,2017-07-19,BJFS21,9,7,0,0.0
906,2017-07-19,CJRT68,17,46,0,0.0
910,2017-07-19,CJRY49,34,41,0,0.0
916,2017-07-19,CJRZ54,7,6,0,0.0
921,2017-07-19,FLXB47,13,21,0,0.0
927,2017-07-19,FLXR62,21,44,0,0.0
986,2017-08-09,CJRP86,11,2,0,0.0
990,2017-08-09,CJRR90,13,33,0,0.0
992,2017-08-09,CJRS26,20,30,0,0.0
1021,2017-08-17,CJRG57,21,6,0,0.0
1024,2017-08-17,CJRX50,8,16,0,0.0
1026,2017-08-17,CJRY77,19,38,0,0.0
1027,2017-08-17,CJRZ62,8,17,0,0.0
1038,2017-08-22,BFKB80,17,39,0,0.0
1055,2017-08-22,CJRY60,8,51,0,0.0

In [19]:
len(common_dates_evasion[common_dates_evasion['EVASION_RATE']==0])

38

* Building complete etapas ddbb.

In [20]:
reduced_etapas = pd.DataFrame()

for date in common_dates:
    base_input_path = 'C:/Users/leoca_000/Desktop/Evasion/01_analisis/03_datos/01_SSH/01_TIMESBYBUS/01_ORIGINAL/'
    file_name = date + '-meanByBus.csv'
    grouped_by_bus = pd.read_csv(base_input_path+file_name, encoding = 'latin-1',sep =";")
    reduced_etapas = pd.concat([reduced_etapas,grouped_by_bus])

* Processing etapas ddbb before merging

In [21]:
del reduced_etapas['Unnamed: 0']
reduced_etapas = reduced_etapas.rename(columns = {'fecha':'FECHA', 'sitio_subida':'PATENTE', 'count': 'ETAPAS_COUNT'})
reduced_etapas['FECHA'] = pd.to_datetime(reduced_etapas.FECHA)
reduced_etapas['PATENTE'] = reduced_etapas['PATENTE'].str.replace("-", "")
reduced_etapas['PATENTE'] = reduced_etapas['PATENTE'].str.replace(" ", "")

In [22]:
reduced_etapas.reset_index(drop=True,inplace=True)

In [23]:
type(reduced_etapas.loc[0,'FECHA'])

pandas._libs.tslib.Timestamp

## <strong>TEST MERGING</strong>

1 - BASICS

In [24]:
evasion_vs_mean = pd.merge(summary,reduced_etapas, on=['PATENTE','FECHA'], how='left')

In [25]:
evasion_vs_mean_length = len(evasion_vs_mean.index)
print('The total number of rows in evasion vs. mean ddbb is: ' +str(evasion_vs_mean_length))

The total number of rows in evasion vs. mean ddbb is: 1183

* Getting rid of missing values

In [26]:
clean_evasion_vs_mean = evasion_vs_mean[evasion_vs_mean['mean']>0]

In [27]:
clean_evasion_vs_mean.head()

,FECHA,PATENTE,EVASION_COUNT,TOTAL_INGRESAN,TOTAL_NO_VALIDAN,EVASION_RATE,ETAPAS_COUNT,sum,mean,fecha_instalacion
302,2017-03-09,BKWK90,49,94,27,0.287234,353.0,1842.0,5.218130,NaN
303,2017-03-09,CJJH75,48,125,58,0.464000,194.0,1456.0,7.505155,2017-07-03
304,2017-03-09,CJKC18,38,48,7,0.145833,244.0,1052.0,4.311475,2017-07-05
305,2017-03-09,CJRG61,25,33,18,0.545455,328.0,2334.0,7.115854,NaN
306,2017-03-09,FLXB75,20,62,0,0.000000,287.0,2134.0,7.435540,2016-07-26

* Checking for obs. with mean-time-interval > 20 secs

In [28]:
clean_evasion_vs_mean[clean_evasion_vs_mean['mean']>20]

,FECHA,PATENTE,EVASION_COUNT,TOTAL_INGRESAN,TOTAL_NO_VALIDAN,EVASION_RATE,ETAPAS_COUNT,sum,mean,fecha_instalacion
463,2017-04-11,WA8533,35,48,6,0.125000,313.0,6469.0,20.667732,NaN
482,2017-04-12,CJRP87,87,145,71,0.489655,177.0,4271.0,24.129944,1900-01-01
724,2017-06-14,BBKB13,13,43,10,0.232558,1.0,22.0,22.000000,NaN
872,2017-07-18,FLXB96,48,86,0,0.000000,183.0,8804.0,48.109290,2016-07-29
912,2017-07-19,CJRY60,68,132,9,0.068182,201.0,6396.0,31.820896,2016-07-19
916,2017-07-19,CJRZ54,7,6,0,0.000000,279.0,6330.0,22.688172,NaN
987,2017-08-09,CJRR46,15,20,3,0.150000,158.0,3867.0,24.474684,1900-01-01

In [29]:
clean_evasion_vs_mean_length = len(clean_evasion_vs_mean.index)
print('The total number of rows matching in evasion vs. mean ddbb is: ' + str(clean_evasion_vs_mean_length))
print('The percentage of matching is: ' + str(clean_evasion_vs_mean_length/evasion_vs_mean_length*100) + '%')

The total number of rows matching in evasion vs. mean ddbb is: 496
The percentage of matching is: 41.927303465765%

= END BASICS =

2 - NUMBER OF OBSERVATIONS MISMATCHING

In [30]:
total_mismatching = evasion_vs_mean_length - clean_evasion_vs_mean_length
print('The total number of rows mismatching in evasion vs. mean ddbb is: ' + str(total_mismatching))

The total number of rows mismatching in evasion vs. mean ddbb is: 687

= END NUMBER OF OBSERVATIONS MISMATCHING =

3 - CHECKING CONDITIONS

In [31]:
within_dates_evasion_vs_mean = evasion_vs_mean[(evasion_vs_mean['FECHA']>=pd.to_datetime('2017-03-09'))&(evasion_vs_mean['FECHA']<=pd.to_datetime('2017-08-24'))]

In [32]:
within_dates_evasion_vs_mean_length = len(within_dates_evasion_vs_mean.index)
print('The number of rows within common dates range is: ' + str(within_dates_evasion_vs_mean_length))

The number of rows within common dates range is: 777

In [33]:
common_dates_evasion_vs_mean = within_dates_evasion_vs_mean[within_dates_evasion_vs_mean['FECHA'].isin(common_dates_timestamp)]

In [34]:
common_dates_evasion_vs_mean_length = len(common_dates_evasion_vs_mean.index)
print('The total number of rows within common dates range and in common dates is: ' + str(common_dates_evasion_vs_mean_length))

The total number of rows within common dates range and in common dates is: 513

In [35]:
print('IN SUMMARY, THE ORIGINAL NUMBER OF ROWS IS ' + str(evasion_vs_mean_length) + '. FROM THIS, ' + 
     str(within_dates_evasion_vs_mean_length) + ' ARE WITHIN COMMON DATES RANGE. FROM THE LATTER, ' + 
     str(common_dates_evasion_vs_mean_length) + ' ARE WITHIN COMMON DATES RANGE AND IN FACT CORRESPOND TO A COMMON DATE. FINALLY THERE ARE ' +
     str(common_dates_evasion_vs_mean_length-clean_evasion_vs_mean_length) + ' ROWS MISMATCHING THAT SHOULD BE CHECKED IN REDUCED_ETAPAS AND SIMPLIFIED_ETAPAS FILES')

IN SUMMARY, THE ORIGINAL NUMBER OF ROWS IS 1183. FROM THIS, 777 ARE WITHIN COMMON DATES RANGE. FROM THE LATTER, 513 ARE WITHIN COMMON DATES RANGE AND IN FACT CORRESPOND TO A COMMON DATE. FINALLY THERE ARE 17 ROWS MISMATCHING THAT SHOULD BE CHECKED IN REDUCED_ETAPAS AND SIMPLIFIED_ETAPAS FILES

= END CHECKING CONDITIONS =

4 - CHECKING PROBLEMATIC ROWS AND LOOKING INTO REDUCED_ETAPAS SIMPLIFIED_ETAPAS FILES

In [36]:
common_dates_evasion_vs_mean[common_dates_evasion_vs_mean['sum'].notnull()].head(4)

,FECHA,PATENTE,EVASION_COUNT,TOTAL_INGRESAN,TOTAL_NO_VALIDAN,EVASION_RATE,ETAPAS_COUNT,sum,mean,fecha_instalacion
302,2017-03-09,BKWK90,49,94,27,0.287234,353.0,1842.0,5.218130,NaN
303,2017-03-09,CJJH75,48,125,58,0.464000,194.0,1456.0,7.505155,2017-07-03
304,2017-03-09,CJKC18,38,48,7,0.145833,244.0,1052.0,4.311475,2017-07-05
305,2017-03-09,CJRG61,25,33,18,0.545455,328.0,2334.0,7.115854,NaN

In [37]:
common_dates_evasion_vs_mean[common_dates_evasion_vs_mean['sum'].isnull()].head(4)

,FECHA,PATENTE,EVASION_COUNT,TOTAL_INGRESAN,TOTAL_NO_VALIDAN,EVASION_RATE,ETAPAS_COUNT,sum,mean,fecha_instalacion
315,2017-03-14,ZB6117,16,14,9,0.642857,NaN,NaN,NaN,NaN
352,2017-03-15,CYRY63,24,120,58,0.483333,NaN,NaN,NaN,NaN
379,2017-03-16,ZN5936,29,55,28,0.509091,NaN,NaN,NaN,NaN
514,2017-04-18,CBWR45,27,128,34,0.265625,NaN,NaN,NaN,NaN

* Checking in reduced_etapas ...
* Checking for PATENTE == BFHB25, FECHA == 2017-06-14 > Doesn't exist
* Checking for PATENTE == BGTL44, FECHA == 2017-08-17 > Doesn't exist
* Checking for PATENTE == BGTL77, FECHA == 2017-06-14 > Doesn't exist
* Checking for PATENTE == BXFH61, FECHA == 2017-08-22 > Doesn't exist
* <font color='green'><strong>Merge is correct.</strong></font> These 17 rows should be checked in simplified_etapas files

In [38]:
from RunSilentlyDailyEtapasBuilder import RunSilentlyDailyEtapasBuilderClass

In [39]:
date = '2017-06-14'
etapas_builder = RunSilentlyDailyEtapasBuilderClass(date)
filtered_df = etapas_builder.runLightCompleteProcess()

Not found in turnstile database: 517700

In [40]:
filtered_df[filtered_df['sitio_subida']=='BFHB-25']

Empty DataFrame
Columns: [index, id, nviaje, tipo_transporte, t_subida, servicio_subida, par_subida, sitio_subida, fecha_instalacion, mismo_paradero, misma_patente, mismo_servicio, diferencia_tiempo, diferencia_tiempo_secs, si_torniquete, si_2017_torniquete]
Index: []

In [41]:
filtered_df[filtered_df['sitio_subida']=='BGTL-77']

Empty DataFrame
Columns: [index, id, nviaje, tipo_transporte, t_subida, servicio_subida, par_subida, sitio_subida, fecha_instalacion, mismo_paradero, misma_patente, mismo_servicio, diferencia_tiempo, diferencia_tiempo_secs, si_torniquete, si_2017_torniquete]
Index: []

In [42]:
filtered_df[filtered_df['sitio_subida']=='BBKB-12']

,index,id,nviaje,tipo_transporte,t_subida,servicio_subida,par_subida,sitio_subida,fecha_instalacion,mismo_paradero,misma_patente,mismo_servicio,diferencia_tiempo,diferencia_tiempo_secs,si_torniquete,si_2017_torniquete
153,405460,2036648403,3,BUS,2017-06-14 22:27:10,F29 00R,T-34-270-SN-10,BBKB-12,NaT,True,True,True,00:00:02,2.0,False,False
154,293942,930125355,2,BUS,2017-06-14 22:27:13,F29 00R,T-34-270-SN-10,BBKB-12,NaT,True,True,True,00:00:03,3.0,False,False
155,465616,2483164525,2,BUS,2017-06-14 22:27:17,F29 00R,T-34-270-SN-10,BBKB-12,NaT,True,True,True,00:00:04,4.0,False,False
156,78158,52372738,3,BUS,2017-06-14 22:27:20,F29 00R,T-34-270-SN-10,BBKB-12,NaT,True,True,True,00:00:03,3.0,False,False
157,193185,424007954,3,BUS,2017-06-14 22:27:23,F29 00R,T-34-270-SN-10,BBKB-12,NaT,True,True,True,00:00:03,3.0,False,False
158,23227,31833762,3,BUS,2017-06-14 22:27:26,F29 00R,T-34-270-SN-10,BBKB-12,NaT,True,True,True,00:00:03,3.0,False,False
159,224809,473063026,3,BUS,2017-06-14 22:27:28,F29 00R,T-34-270-SN-10,BBKB-12,NaT,True,True,True,00:00:02,2.0,False,False
160,359613,1524637928,2,BUS,2017-06-14 22:27:28,F29 00R,T-34-270-SN-10,BBKB-12,NaT,True,True,True,00:00:00,0.0,False,False

In [43]:
filtered_df[filtered_df['sitio_subida']=='BBKB-13']

,index,id,nviaje,tipo_transporte,t_subida,servicio_subida,par_subida,sitio_subida,fecha_instalacion,mismo_paradero,misma_patente,mismo_servicio,diferencia_tiempo,diferencia_tiempo_secs,si_torniquete,si_2017_torniquete
163,63592,47993730,2,BUS,2017-06-14 21:43:31,F11 00R,E-34-270-NS-70,BBKB-13,NaT,True,True,True,00:00:22,22.0,False,False

* Checking in simplified_etapas ...
* Checking for PATENTE == BFHB25, FECHA == 2017-06-14 > Doesn't exist
* Checking for PATENTE == BGTL77, FECHA == 2017-06-14 > Doesn't exist
* Checking for PATENTE == BBKB12, FECHA == 2017-06-14 > It exists
* Checking for PATENTE == BBKB13, FECHA == 2017-06-14 > It exists
* <font color='green'><strong>Merge is correct. TEST PASSED</strong></font>

In [44]:
date = '2017-08-17'
etapas_builder = RunSilentlyDailyEtapasBuilderClass(date)
filtered_df = etapas_builder.runLightCompleteProcess()

Not found in turnstile database: 1873694

In [45]:
filtered_df[filtered_df['sitio_subida']=='BGTL-44']

Empty DataFrame
Columns: [index, id, nviaje, tipo_transporte, t_subida, servicio_subida, par_subida, sitio_subida, fecha_instalacion, mismo_paradero, misma_patente, mismo_servicio, diferencia_tiempo, diferencia_tiempo_secs, si_torniquete, si_2017_torniquete]
Index: []

* Checking in simplified_etapas ...
* Checking for PATENTE == BGTL44, FECHA == 2017-08-17 > Doesn't exist
* <font color='green'><strong>Merge is correct. TEST PASSED</strong></font>

In [46]:
date = '2017-08-22'
etapas_builder = RunSilentlyDailyEtapasBuilderClass(date)
filtered_df = etapas_builder.runLightCompleteProcess()

Not found in turnstile database: 1877006

In [47]:
filtered_df[filtered_df['sitio_subida']=='BXFH-61']

Empty DataFrame
Columns: [index, id, nviaje, tipo_transporte, t_subida, servicio_subida, par_subida, sitio_subida, fecha_instalacion, mismo_paradero, misma_patente, mismo_servicio, diferencia_tiempo, diferencia_tiempo_secs, si_torniquete, si_2017_torniquete]
Index: []

* Checking in simplified_etapas ...
* Checking for PATENTE == BXFH-61, FECHA == 2017-08-22 > Doesn't exist
* <font color='green'><strong>Merge is correct. TEST PASSED</strong></font>

* Checking for special obs.

In [48]:
date = '2017-04-18'
etapas_builder = RunSilentlyDailyEtapasBuilderClass(date)
filtered_df = etapas_builder.runLightCompleteProcess()

Not found in turnstile database: 1869904

In [49]:
filtered_df[filtered_df['sitio_subida']=='CJRZ-93']['servicio_subida'].unique().tolist()

['T402 00I', 'T402 00R', 'T406 00I', 'T406 00R', 'T422 00I']

In [50]:
date = '2017-07-19'
etapas_builder = RunSilentlyDailyEtapasBuilderClass(date)
filtered_df = etapas_builder.runLightCompleteProcess()

Not found in turnstile database: 1637796

In [51]:
filtered_df[filtered_df['sitio_subida']=='CJRZ-54'].count()

index                     279
id                        279
nviaje                    279
tipo_transporte           279
t_subida                  279
servicio_subida           279
par_subida                279
sitio_subida              279
fecha_instalacion           0
mismo_paradero            279
misma_patente             279
mismo_servicio            279
diferencia_tiempo         279
diferencia_tiempo_secs    279
si_torniquete             279
si_2017_torniquete        279
dtype: int64

In [52]:
filtered_df[filtered_df['sitio_subida']=='CJRZ-54']['servicio_subida'].unique().tolist()

['T457 03I', 'T443 01I', 'T443 00R', 'T443 00I', 'T457 00R', 'T457 00I']

In [53]:
date = '2017-07-13'
etapas_builder = RunSilentlyDailyEtapasBuilderClass(date)
filtered_df = etapas_builder.runLightCompleteProcess()

Not found in turnstile database: 1560500

In [54]:
filtered_df[filtered_df['sitio_subida']=='CJRV-32']

,index,id,nviaje,tipo_transporte,t_subida,servicio_subida,par_subida,sitio_subida,fecha_instalacion,mismo_paradero,misma_patente,mismo_servicio,diferencia_tiempo,diferencia_tiempo_secs,si_torniquete,si_2017_torniquete
1022921,1890053,3557200875,1,BUS,2017-07-13 18:41:30,T420 E0 00I,T-19-170-NS-30,CJRV-32,NaT,True,True,True,00:00:08,8.0,False,False

In [56]:
processed_df = etapas_builder.runProcessedProcess()

Not found in turnstile database: 1560500

In [57]:
processed_df[processed_df['sitio_subida']=='CJRV-32']

,index,id,nviaje,tipo_transporte,t_subida,servicio_subida,par_subida,sitio_subida,fecha_instalacion,mismo_paradero,misma_patente,mismo_servicio,diferencia_tiempo,diferencia_tiempo_secs,si_torniquete,si_2017_torniquete
1022920,850111,931460699,2,BUS,2017-07-13 18:41:22,T420 E0 00I,T-19-170-NS-30,CJRV-32,NaT,False,False,False,NaT,NaN,False,False
1022921,1890053,3557200875,1,BUS,2017-07-13 18:41:30,T420 E0 00I,T-19-170-NS-30,CJRV-32,NaT,True,True,True,00:00:08,8.0,False,False

### CLOSED