### Reducing etapas by Bus by Service: This is a test

In [1]:
%matplotlib inline
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import numpy as np
import datetime as dt
import time

from importlib import reload
from Utils import TransantiagoConstants
from RunSilentlyDailyEtapasBuilder import RunSilentlyDailyEtapasBuilderClass

In [2]:
common_dates = TransantiagoConstants.common_dates

* Checking for bugs and refactoring

In [3]:
common_dates = common_dates[:1]

In [4]:
common_dates #Only first date

['2017-03-09']

In [5]:
torniquetesDataPath = "C:/Users/leoca_000/Desktop/Evasion/01_analisis/03_datos/03_BUSESTORNIQUETE/Avance_Consolidado_v2.xlsx"
busesTorniquete_df = pd.read_excel(torniquetesDataPath, encoding = 'latin-1')
busesTorniquete_df.columns=['sitio_subida','fecha_instalacion']

In [6]:
for date in common_dates:
    etapas_builder = RunSilentlyDailyEtapasBuilderClass(date)
    filtered_df = etapas_builder.runLightCompleteProcess()
    filtered_df['servicio_subida'] =  filtered_df['servicio_subida'].str.replace('T','')
    filtered_df['servicio_subida'] =  filtered_df['servicio_subida'].str.split(' ').str[0]
    groupby_summary = filtered_df.groupby(['sitio_subida','servicio_subida'])['diferencia_tiempo_secs'].agg(['count','sum','mean'])
    groupby_summary['fecha'] = date
    groupby_summary.reset_index(inplace=True)
    groupby_summary = pd.merge(groupby_summary, busesTorniquete_df, on='sitio_subida', how='left')
    base_output_path = 'C:/Users/leoca_000/Desktop/Evasion/01_analisis/03_datos/01_SSH/02_TIMESBYBUSBYSERVICE/01_ORIGINAL/test/'
    file_name = date + '-meanByBusByService.csv'
    groupby_summary.to_csv(base_output_path+file_name,sep =";")

Not found in turnstile database: 1795630

In [7]:
groupby_summary.head(5)

,sitio_subida,servicio_subida,count,sum,mean,fecha,fecha_instalacion
0,BBJZ-74,F14,53,239.0,4.509434,2017-03-09,NaT
1,BBJZ-74,F16,70,433.0,6.185714,2017-03-09,NaT
2,BBJZ-74,F26,32,516.0,16.125000,2017-03-09,NaT
3,BBJZ-76,F14,106,1112.0,10.490566,2017-03-09,2016-11-01
4,BBJZ-76,F16,52,294.0,5.653846,2017-03-09,2016-11-01

#### CHECKING FOR BBJZ_74

In [8]:
BBJZ_74 = filtered_df[filtered_df['sitio_subida']=='BBJZ-74']

In [9]:
BBJZ_74['servicio_subida'].unique()

array(['F26', 'F16', 'F14'], dtype=object)

In [10]:
BBJZ_74_F14 = BBJZ_74[BBJZ_74['servicio_subida']=='F14']
BBJZ_74_F16 = BBJZ_74[BBJZ_74['servicio_subida']=='F16']
BBJZ_74_F26 = BBJZ_74[BBJZ_74['servicio_subida']=='F26']

In [11]:
BBJZ_74_F14_count = len(BBJZ_74_F14.index)
BBJZ_74_F16_count = len(BBJZ_74_F16.index)
BBJZ_74_F26_count = len(BBJZ_74_F26.index)

print(BBJZ_74_F14_count, BBJZ_74_F16_count, BBJZ_74_F26_count)

53 70 32

In [12]:
total_dif_time_BBJZ_74_F14 = BBJZ_74_F14['diferencia_tiempo_secs'].sum()
total_dif_time_BBJZ_74_F16 = BBJZ_74_F16['diferencia_tiempo_secs'].sum()
total_dif_time_BBJZ_74_F26 = BBJZ_74_F26['diferencia_tiempo_secs'].sum()
print(total_dif_time_BBJZ_74_F14,total_dif_time_BBJZ_74_F16,total_dif_time_BBJZ_74_F26)

239.0 433.0 516.0

* BBJZ-74: Average for diferencia_tiempo_secs correctly computed. <font color="green"><strong>TEST PASSED</strong></font>

In [13]:
print(total_dif_time_BBJZ_74_F14/BBJZ_74_F14_count, total_dif_time_BBJZ_74_F16/BBJZ_74_F16_count, total_dif_time_BBJZ_74_F26/BBJZ_74_F26_count)

4.509433962264151 6.185714285714286 16.125

* BBJZ-74: NOT FOUND IN TURNSTILE DATABASE. <font color="green"><strong>TEST PASSED</strong></font>

In [14]:
busesTorniquete_df[busesTorniquete_df['sitio_subida']=='BBJZ-74']

Empty DataFrame
Columns: [sitio_subida, fecha_instalacion]
Index: []

### Closed