#  EvasionBuilder: this is a test

In [1]:
import pandas as pd
import numpy as np
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
from Utils import TransantiagoConstants
import EvasionBuilder

### EvasionBuilder.loadSinglesEvasion() > Nothing to test

In [2]:
[first_q, second_q, third_q] = EvasionBuilder.loadSinglesEvasion()

### EvasionBuilder.processSinglesEvasiondAndConcat > <font color='green'> Passed </font>, although it should be noted that second_q['TIPO'] is deleted but second_q is not returned

In [3]:
print(first_q.columns)
print(second_q.columns)
print(third_q.columns)

Index(['FECHA ', 'SERVICIO', 'PLACA PATENTE', 'NUMERO DE PUERTAS',
       'PUERTA NUMERO', 'LUGAR INICIO', 'HORA INICIO', 'HORA', 'MINUTOS',
       'INGRESAN', 'NO VALIDAN', 'TP'],
      dtype='object')
Index(['FECHA ', 'SERVICIO', 'TIPO', 'PLACA PATENTE', 'NUMERO DE PUERTAS',
       'PUERTA NUMERO', 'LUGAR INICIO', 'HORA INICIO', 'HORA', 'MINUTOS',
       'INGRESAN', 'NO VALIDAN', 'TP'],
      dtype='object')
Index(['FECHA ', 'SERVICIO', 'PLACA PATENTE', 'NUMERO DE PUERTAS',
       'PUERTA NUMERO', 'LUGAR INICIO', 'HORA INICIO', 'HORA', 'MINUTOS',
       'INGRESAN', 'NO VALIDAN', 'TP'],
      dtype='object')

In [4]:
complete_evasion = EvasionBuilder.processSinglesEvasiondAndConcat(first_q,second_q,third_q)

In [5]:
print(first_q.columns)
print(second_q.columns)
print(third_q.columns)

Index(['FECHA ', 'SERVICIO', 'PLACA PATENTE', 'NUMERO DE PUERTAS',
       'PUERTA NUMERO', 'LUGAR INICIO', 'HORA INICIO', 'HORA', 'MINUTOS',
       'INGRESAN', 'NO VALIDAN', 'TP'],
      dtype='object')
Index(['FECHA ', 'SERVICIO', 'PLACA PATENTE', 'NUMERO DE PUERTAS',
       'PUERTA NUMERO', 'LUGAR INICIO', 'HORA INICIO', 'HORA', 'MINUTOS',
       'INGRESAN', 'NO VALIDAN', 'TP'],
      dtype='object')
Index(['FECHA ', 'SERVICIO', 'PLACA PATENTE', 'NUMERO DE PUERTAS',
       'PUERTA NUMERO', 'LUGAR INICIO', 'HORA INICIO', 'HORA', 'MINUTOS',
       'INGRESAN', 'NO VALIDAN', 'TP'],
      dtype='object')

In [6]:
checking1 = first_q.columns == second_q.columns
checking2 = first_q.columns == third_q.columns
checking3 = second_q.columns == third_q.columns

In [7]:
checking1

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True], dtype=bool)

In [8]:
checking2

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True], dtype=bool)

In [9]:
checking3

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True], dtype=bool)

In [10]:
print(complete_evasion.columns)

Index(['FECHA', 'SERVICIO', 'PATENTE', 'PUERTAS', 'N_PUERTA', 'LUGAR_INICIO',
       'HORA_INICIO', 'HORA', 'MINUTO', 'INGRESAN', 'NO_VALIDAN', 'TP',
       'TIEMPO'],
      dtype='object')

In [11]:
print(type(complete_evasion.loc[('first', 0),'TIEMPO']))

<class 'str'>

### deleteDuplicatedInCompleteEvasion(complete_evasion) > <font color='green'> Passed </font>

In [12]:
#All columns except for 'INGRESAN' and 'NO_VALIDAN'
columns_names = ['FECHA', 'SERVICIO', 'PATENTE', 'PUERTAS', 'N_PUERTA', 'LUGAR_INICIO','HORA_INICIO', 'HORA', 'MINUTO','TP','TIEMPO']
print('Original number of rows in complete evasion database is: ' + str(len(complete_evasion.index)))

#Getting duplicated rows
duplicated_evasion = complete_evasion.loc[complete_evasion.duplicated(columns_names, keep=False),:]
print('Number of duplicated rows in complete evasion database is: ' + str(len(duplicated_evasion.index)))

#Collapsing duplicated rows
grouped_duplicated_evasion = duplicated_evasion.groupby(columns_names)['INGRESAN','NO_VALIDAN'].sum()
grouped_duplicated_evasion = grouped_duplicated_evasion.reset_index()
print('Number of collapsed-duplicated rows in complete evasion database is: ' + str(len(grouped_duplicated_evasion.index)))

#Deleting duplicated rows in complete evasion database
non_duplicated_evasion = complete_evasion.drop_duplicates(columns_names, keep=False)
print('Number of rows in complete evasion database without duplicated rows at all is: ' + str(len(non_duplicated_evasion.index)))

#Appending
frames = [non_duplicated_evasion, grouped_duplicated_evasion]
clean_complete_evasion = pd.concat(frames)
clean_complete_evasion = clean_complete_evasion.reset_index(drop=True)
print('Final number of rows in complete evasion database with collapsed duplicated rows is: ' + str(len(clean_complete_evasion.index)))

Original number of rows in complete evasion database is: 97373
Number of duplicated rows in complete evasion database is: 6192
Number of collapsed-duplicated rows in complete evasion database is: 3090
Number of rows in complete evasion database without duplicated rows at all is: 91181
Final number of rows in complete evasion database with collapsed duplicated rows is: 94271

In [13]:
len(complete_evasion.index)

97373

In [14]:
len(duplicated_evasion.index)

6192

In [15]:
len(grouped_duplicated_evasion.index)

3090

In [16]:
len(non_duplicated_evasion.index)

91181

In [17]:
len(clean_complete_evasion.index)

94271

Original = 97373 >
Without dup = 97373 - 6192 = 91181 >
With collapsed dup = 91181 + 3090 = 94271.

The reason why len(duplicated_evasion.index)/2 = len(grouped_duplicated_evasion.index) is probably because there are rows repeated more than twice. <font color='green'> Passed </font>

Checking if operations are correctly applied ... > <font color ='green'> Passed </font>

In [18]:
duplicated_evasion.head(10)

               FECHA SERVICIO PATENTE PUERTAS  N_PUERTA  \
first 332 2017-01-11      D01  CJRV34       2         1
      333 2017-01-11      D01  CJRV34       2         1
      343 2017-01-11      D01  CJRV34       2         2
      344 2017-01-11      D01  CJRV34       2         2
      616 2017-01-11      D01  CJRT96       2         1
      617 2017-01-11      D01  CJRT96       2         1
      633 2017-01-11      D01  CJRT96       2         2
      634 2017-01-11      D01  CJRT96       2         2
      651 2017-01-11      D01  CJRV84       2         1
      652 2017-01-11      D01  CJRV84       2         1

                    LUGAR_INICIO HORA_INICIO  HORA  MINUTO  INGRESAN  \
first 332     AV. OSSA - LARRAIN    18:37:00    18      42         1
      333     AV. OSSA - LARRAIN    18:37:00    18      42         1
      343     AV. OSSA - LARRAIN    18:37:00    18      42         0
      344     AV. OSSA - LARRAIN    18:37:00    18      42         0
      616  AV. OSSA- AV. LARRAIN    07:22:00     7      32         0
      617  AV. OSSA- AV. LARRAIN    07:22:00     7      32         0
      633  AV. OSSA- AV. LARRAIN    07:22:00     7      32         0
      634  AV. OSSA- AV. LARRAIN    07:22:00     7      32         0
      651      ANTUPIREN- MALHUE    08:06:00     8      26         3
      652      ANTUPIREN- MALHUE    08:06:00     8      26         2

           NO_VALIDAN TP    TIEMPO
first 332           0  P  18:42:00
      333           0  P  18:42:00
      343           0  P  18:42:00
      344           0  P  18:42:00
      616           0  P   7:32:00
      617           0  P   7:32:00
      633           0  P   7:32:00
      634           0  P   7:32:00
      651           0  P   8:26:00
      652           0  P   8:26:00

In [19]:
grouped_duplicated_evasion[(grouped_duplicated_evasion['SERVICIO']=='D01')&(grouped_duplicated_evasion['N_PUERTA']==1)&(grouped_duplicated_evasion['TIEMPO']=='18:42:00')]

,FECHA,SERVICIO,PATENTE,PUERTAS,N_PUERTA,LUGAR_INICIO,HORA_INICIO,HORA,MINUTO,TP,TIEMPO,INGRESAN,NO_VALIDAN
51,2017-01-11,D01,CJRV34,2,1,AV. OSSA - LARRAIN,18:37:00,18,42,P,18:42:00,2,0

In [20]:
grouped_duplicated_evasion[(grouped_duplicated_evasion['SERVICIO']=='D01')&(grouped_duplicated_evasion['N_PUERTA']==1)&(grouped_duplicated_evasion['TIEMPO']=='8:26:00')]

,FECHA,SERVICIO,PATENTE,PUERTAS,N_PUERTA,LUGAR_INICIO,HORA_INICIO,HORA,MINUTO,TP,TIEMPO,INGRESAN,NO_VALIDAN
60,2017-01-11,D01,CJRV84,2,1,ANTUPIREN- MALHUE,08:06:00,8,26,P,8:26:00,5,0

In [21]:
non_duplicated_evasion[(non_duplicated_evasion['SERVICIO']=='D01')&(non_duplicated_evasion['N_PUERTA']==1)&(non_duplicated_evasion['TIEMPO']=='18:42:00')]

Empty DataFrame
Columns: [FECHA, SERVICIO, PATENTE, PUERTAS, N_PUERTA, LUGAR_INICIO, HORA_INICIO, HORA, MINUTO, INGRESAN, NO_VALIDAN, TP, TIEMPO]
Index: []

In [22]:
non_duplicated_evasion[(non_duplicated_evasion['SERVICIO']=='D01')&(non_duplicated_evasion['N_PUERTA']==1)&(non_duplicated_evasion['TIEMPO']=='8:26:00')]

Empty DataFrame
Columns: [FECHA, SERVICIO, PATENTE, PUERTAS, N_PUERTA, LUGAR_INICIO, HORA_INICIO, HORA, MINUTO, INGRESAN, NO_VALIDAN, TP, TIEMPO]
Index: []

### mergeTransantiagoCodes(clean_complete_evasion) > <font color='red'><strike>Failed</strike></font> <font color='green'>Passed</font> . The problem was that in codes_ida and codes_ret are duplicated keys (i.e. same user_codes to different ts_codes)

* What mergeTransantiagoCodes(clean_complete_evasion) does is to append a new column with ts_codes to evasion database based on user_codes.
* Since the only user_codes with two ts_codes are special services with a 'y' at the end of the string (i.e. one with and one without the 'y' in the respective ts_code for a unique user_code), it was decided to use the not-special ts_code, that is, the string without the final 'y', for those services

In [23]:
clean_complete_evasion_w_codes = EvasionBuilder.mergeTransantiagoCodes(clean_complete_evasion)

C:\Users\leoca_000\Desktop\Evasion\01_analisis\04_scripts\TSAnalysis\EvasionBuilder.py:90: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  codes_ida['USER_CODE_TMP'] = codes_ida['USER_CODE'].apply(str)
C:\Users\leoca_000\Desktop\Evasion\01_analisis\04_scripts\TSAnalysis\EvasionBuilder.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  codes_ida['TS_CODE_TMP'] = codes_ida['TS_CODE'].apply(str)
C:\Users\leoca_000\Desktop\Evasion\01_analisis\04_scripts\TSAnalysis\EvasionBuilder.py:93: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  codes_ret['USER_CODE_TMP'] = codes_ret['USER_CODE'].apply(str)
C:\Users\leoca_000\Desktop\Evasion\01_analisis\04_scripts\TSAnalysis\EvasionBuilder.py:94: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  codes_ret['TS_CODE_TMP'] = codes_ret['TS_CODE'].apply(str)

The only non-matched user_code services are:
D06

In [24]:
checking4 = len(clean_complete_evasion)==len(clean_complete_evasion_w_codes)

In [25]:
checking4

True

In [26]:
len(clean_complete_evasion)

94271

In [27]:
len(clean_complete_evasion_w_codes)

94271

* Checking for data types... > <font color='green'>Passed</font>

In [28]:
clean_complete_evasion_w_codes.head()

,FECHA,HORA,HORA_INICIO,INGRESAN,LUGAR_INICIO,MINUTO,NO_VALIDAN,N_PUERTA,PATENTE,PUERTAS,TIEMPO,TP,SERVICIO,UN,TS_CODE
0,2017-01-10,7,07:10:00,15,AV. ADOLFO LOPEZ MATEO,10,1,1,BJFH98,3,7:10:00,P,214,2.0,214
1,2017-01-10,7,07:10:00,9,AV. ADOLFO LOPEZ MATEO,12,0,1,BJFH98,3,7:12:00,P,214,2.0,214
2,2017-01-10,7,07:10:00,6,AV. ADOLFO LOPEZ MATEO,13,2,1,BJFH98,3,7:13:00,P,214,2.0,214
3,2017-01-10,7,07:10:00,8,AV. ADOLFO LOPEZ MATEO,18,1,1,BJFH98,3,7:18:00,P,214,2.0,214
4,2017-01-10,7,07:10:00,5,AV. ADOLFO LOPEZ MATEO,20,1,1,BJFH98,3,7:20:00,P,214,2.0,214

In [29]:
print(type(clean_complete_evasion_w_codes.loc[0,'SERVICIO']))

<class 'str'>

In [30]:
print(type(clean_complete_evasion_w_codes.loc[0,'TS_CODE']))

<class 'str'>

### processCompleteEvasionDataFrame(clean_complete_evasion_w_codes) > <font color='green'>Passed</font>

In [31]:
processed_evasion = EvasionBuilder.processCompleteEvasionDataFrame(clean_complete_evasion_w_codes)

In [32]:
processed_evasion.head()

,FECHA,HORA,HORA_INICIO,INGRESAN,LUGAR_INICIO,MINUTO,NO_VALIDAN,N_PUERTA,PATENTE,PUERTAS,TIEMPO,TP,SERVICIO_USUARIO,UN,SERVICIO
0,2017-01-10,7,07:10:00,15,AV. ADOLFO LOPEZ MATEO,10,1,1,BJFH98,3,7:10:00,P,214,2.0,214
1,2017-01-10,7,07:10:00,9,AV. ADOLFO LOPEZ MATEO,12,0,1,BJFH98,3,7:12:00,P,214,2.0,214
2,2017-01-10,7,07:10:00,6,AV. ADOLFO LOPEZ MATEO,13,2,1,BJFH98,3,7:13:00,P,214,2.0,214
3,2017-01-10,7,07:10:00,8,AV. ADOLFO LOPEZ MATEO,18,1,1,BJFH98,3,7:18:00,P,214,2.0,214
4,2017-01-10,7,07:10:00,5,AV. ADOLFO LOPEZ MATEO,20,1,1,BJFH98,3,7:20:00,P,214,2.0,214

In [33]:
len(processed_evasion.index)

94271

In [34]:
print(type(processed_evasion.loc[0,'SERVICIO_USUARIO']))

<class 'str'>

In [35]:
print(type(processed_evasion.loc[0,'SERVICIO']))

<class 'str'>

### EvasionBuilder tests <font color='green'> PASSED </font>

### CLOSED