### Analyzing perfiles database

In [1]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [2]:
%matplotlib inline
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import numpy as np
import datetime as dt
import time
import re

from Utils import TransantiagoConstants

In [3]:
import DailyPerfilesBuilder

#### Analyzing 2017-07-12

In [4]:
date = '2017-07-12' #Wednesday

In [5]:
perfiles_builder = DailyPerfilesBuilder.RunSilentlyDailyPerfilesBuilderClass(date)

In [6]:
#perfiles_builder.runSimplifyPerfiles()

In [7]:
perfiles_builder.loadSimplifiedPerfiles()
perfiles_builder.dropParaderos()
perfiles_builder.mergeTurnstileDatabase()
perfiles_df = perfiles_builder.perfiles_df

perfiles_builder.groupByTurnstilePresence()
#perfiles_builder.appendUnidadNegocio()
grouped_perfiles = perfiles_builder.grouped_data

Not found in BOTH turnstile databases: 37392

In [8]:
perfiles_df.head()

,ServicioSentido,Patente,Paradero,Hini,Hfin,idExpedicion,DistEnRuta,UN,fecha_instalacion_ana,fecha_instalacion_mauricio,min_fecha,torniquete_mariposa,no_torniquete
0,T118 00I,FLXH-56,T-13-369-PO-5,2017-07-12 00:03:36,2017-07-12 00:18:32,0,120,NaN,NaT,NaT,NaT,0,1
1,T118 00I,ZN-5402,T-13-369-PO-5,2017-07-12 05:33:07,2017-07-12 06:32:37,1,120,NaN,NaT,NaT,NaT,0,1
2,T118 00I,ZN-6487,T-13-369-PO-5,2017-07-12 05:33:09,2017-07-12 06:31:09,2,120,NaN,NaT,NaT,NaT,0,1
3,T118 00I,ZB-6849,T-13-369-PO-5,2017-07-12 05:40:28,2017-07-12 06:47:58,3,120,U1,2017-06-07,2017-06-07,2017-06-07,1,0
4,T118 00I,ZN-5439,T-13-369-PO-5,2017-07-12 05:57:39,2017-07-12 06:53:09,4,120,NaN,NaT,NaT,NaT,0,1

In [9]:
grouped_perfiles.head()

,ServicioSentido,torniquete_mariposa_total,no_torniquete_total,TS_CODE,DIRECTION,UN,USER_CODE
0,B01 00I,102,5,B01,Ida,6.0,B01
1,B01 00R,102,5,B01,Ret,6.0,B01
2,B02 00I,94,6,B02,Ida,6.0,B02
3,B02 00R,98,5,B02,Ret,6.0,B02
4,B02 C2 00I,11,0,B02,Ida,6.0,B02

In [10]:
print('Number of expeditions with mariposa_turnstile: ' + str(sum(grouped_perfiles['torniquete_mariposa_total'])))

Number of expeditions with mariposa_turnstile: 15641

In [11]:
print('Number of expeditions without mariposa_turnstile: ' + str(sum(grouped_perfiles['no_torniquete_total'])))

Number of expeditions with mariposa_turnstile: 47738

In [36]:
len(grouped_perfiles.index)

987

### Some tests about <strong> torniquete_mariposa </strong> column

Hini <= fecha_instalacion_ana => torniquete_mariposa == 0 in all rows => <font color='green'> Passed </font>

In [12]:
perfiles_df.loc[perfiles_df['Hini'].dt.date<=perfiles_df['fecha_instalacion_ana'].dt.date,'torniquete_mariposa'].unique()

array([0], dtype=int64)

Hini > fecha_instalacion_ana => torniquete_mariposa == 1 in all rows => <font color='green'> Passed </font>

In [13]:
perfiles_df.loc[perfiles_df['Hini'].dt.date>perfiles_df['fecha_instalacion_ana'].dt.date,'torniquete_mariposa'].unique()

array([1], dtype=int64)

### Some tests about <strong> min_fecha </strong> column

fecha_instalacion_ana == fecha_instalacion_mauricio => min_fecha == fecha_instalacion_ana == fecha_instalacion_mauricio <font color='green'> passed </font>

In [14]:
min_fecha_series = perfiles_df.loc[perfiles_df['fecha_instalacion_ana'].dt.date == perfiles_df['fecha_instalacion_mauricio'].dt.date, 'min_fecha'].dt.date

In [15]:
min_fecha_ana = perfiles_df.loc[perfiles_df['fecha_instalacion_ana'].dt.date == perfiles_df['fecha_instalacion_mauricio'].dt.date, 'fecha_instalacion_ana'].dt.date

In [16]:
min_fecha_mauricio = perfiles_df.loc[perfiles_df['fecha_instalacion_ana'].dt.date == perfiles_df['fecha_instalacion_mauricio'].dt.date, 'fecha_instalacion_mauricio'].dt.date

In [17]:
min_fecha_ana.equals(min_fecha_mauricio)

True

In [18]:
min_fecha_series.equals(min_fecha_ana)

True

In [19]:
min_fecha_series.equals(min_fecha_mauricio)

True

fecha_instalacion_ana == NaT and fecha_instalacion_mauricio != NaT => min_fecha == fecha_instalacion_mauricio <font color='green'> passed </font>

In [20]:
min_fecha_series = perfiles_df.loc[(perfiles_df['fecha_instalacion_ana'].isnull())&(~perfiles_df['fecha_instalacion_mauricio'].isnull()), 'min_fecha'].dt.date

In [21]:
min_fecha_ana = perfiles_df.loc[(perfiles_df['fecha_instalacion_ana'].isnull())&(~perfiles_df['fecha_instalacion_mauricio'].isnull()),'fecha_instalacion_ana'].dt.date

In [22]:
min_fecha_mauricio = perfiles_df.loc[(perfiles_df['fecha_instalacion_ana'].isnull())&(~perfiles_df['fecha_instalacion_mauricio'].isnull()),'fecha_instalacion_mauricio'].dt.date

In [23]:
min_fecha_series.equals(min_fecha_ana)

False

In [24]:
min_fecha_series.equals(min_fecha_mauricio)

True

fecha_instalacion_ana != NaT and fecha_instalacion_mauricio == NaT => min_fecha == fecha_instalacion_ana <font color='green'> passed </font>

In [25]:
min_fecha_series = perfiles_df.loc[(~perfiles_df['fecha_instalacion_ana'].isnull())&(perfiles_df['fecha_instalacion_mauricio'].isnull()), 'min_fecha'].dt.date

In [26]:
min_fecha_ana = perfiles_df.loc[(~perfiles_df['fecha_instalacion_ana'].isnull())&(perfiles_df['fecha_instalacion_mauricio'].isnull()),'fecha_instalacion_ana'].dt.date

In [27]:
min_fecha_mauricio = perfiles_df.loc[(~perfiles_df['fecha_instalacion_ana'].isnull())&(perfiles_df['fecha_instalacion_mauricio'].isnull()),'fecha_instalacion_mauricio'].dt.date

In [28]:
min_fecha_series.equals(min_fecha_ana)

True

In [29]:
min_fecha_series.equals(min_fecha_mauricio)

False

### Some tests about <strong>no_torniquete</strong> column

fecha_instalacion_ana == NaT and fecha_instalacion_mauricio == NaT => no_torniquete == 1 in all rows <font color='green'> passed </font>

In [30]:
perfiles_df.loc[(perfiles_df['fecha_instalacion_ana'].isnull()) & (perfiles_df['fecha_instalacion_mauricio'].isnull()),'no_torniquete'].unique()

array([1], dtype=int64)

fecha_instalacion_ana == NaT and fecha_instalacion_mauricio != NaT and Hini <= fecha_instalacion_mauricio => no_torniquete == 1 in all rows <font color='yellow'> WEIRD </font>

In [31]:
perfiles_df.loc[(perfiles_df['fecha_instalacion_ana'].isnull()) 
                & (~perfiles_df['fecha_instalacion_mauricio'].isnull()) 
                & (perfiles_df['Hini'].dt.date <= perfiles_df['fecha_instalacion_mauricio'].dt.date),'no_torniquete'].unique()

array([], dtype=int64)

fecha_instalacion_ana != NaT and fecha_instalacion_mauricio == NaT and Hini <= fecha_instalacion_ana => no_torniquete == 1 in all rows <font color='green'> passed </font>

In [33]:
perfiles_df.loc[(~perfiles_df['fecha_instalacion_ana'].isnull()) 
                & (perfiles_df['fecha_instalacion_mauricio'].isnull()) 
                & (perfiles_df['Hini'].dt.date <= perfiles_df['fecha_instalacion_ana'].dt.date),'no_torniquete'].unique()

array([1], dtype=int64)

fecha_instalacion_ana == NaT and fecha_instalacion_mauricio != NaT and Hini > fecha_instalacion_mauricio => no_torniquete == 0 in all rows <font color='green'> passed </font>

In [34]:
perfiles_df.loc[(perfiles_df['fecha_instalacion_ana'].isnull()) 
                & (~perfiles_df['fecha_instalacion_mauricio'].isnull()) 
                & (perfiles_df['Hini'].dt.date > perfiles_df['fecha_instalacion_mauricio'].dt.date),'no_torniquete'].unique()

array([0], dtype=int64)

fecha_instalacion_ana != NaT and fecha_instalacion_mauricio == NaT and Hini > fecha_instalacion_ana => no_torniquete == 0 in all rows <font color='green'> passed </font>

In [35]:
perfiles_df.loc[(~perfiles_df['fecha_instalacion_ana'].isnull()) 
                & (perfiles_df['fecha_instalacion_mauricio'].isnull()) 
                & (perfiles_df['Hini'].dt.date > perfiles_df['fecha_instalacion_ana'].dt.date),'no_torniquete'].unique()

array([0], dtype=int64)

## Closed