## Merging idExpedicion from Perfiles to Etapas ddbb

In [1]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

In [3]:
import pandas as pd
import time
import DailyEtapasBuilder
from Utils import TransantiagoConstants

In [4]:
date = '2017-03-01'

In [5]:
summary_dir = TransantiagoConstants.SummaryDir

In [6]:
selected_services_path = os.path.join(summary_dir,'0_servicios_seleccionados.xlsx')
selected_services_df = pd.read_excel(selected_services_path)

In [7]:
selected_services = selected_services_df.loc[:,'FINAL_CODES']
selected_services = [str(x) for x in selected_services]

* Building etapas

In [8]:
etapas_builder = DailyEtapasBuilder.RunSilentlyDailyEtapasBuilderClass(date)

In [9]:
etapas_builder.loadSimplifiedEtapas()
etapas_builder.mergeTurnstileData()
etapas_builder.cleanDataFrame() #Be aware of this, as it deletes all rows with missing values.
etapas_builder.sortDataFrame()
etapas_builder.postProcessingSortedDataFrame()
processed_sorted_df = etapas_builder.etapas_df

Not found in BOTH turnstile databases: 1282226

In [10]:
processed_sorted_df.head()

,id,nviaje,tipo_transporte,t_subida,media_hora_subida,servicio_subida,par_subida,sitio_subida,UN,fecha_instalacion_ana,fecha_instalacion_mauricio,min_fecha,torniquete_mariposa,no_torniquete,mismo_paradero,misma_patente,mismo_servicio,diferencia_tiempo,diferencia_tiempo_secs
0,3552888222,1,BUS,2017-03-01 17:39:47,17:30:00,F07 00R,L-34-89-2-PO,BBJZ-74,NaN,NaT,NaT,NaT,0,1,False,False,False,NaT,NaN
1,2529602798,1,BUS,2017-03-01 17:44:11,17:30:00,F07 00R,L-34-53-25-PO,BBJZ-74,NaN,NaT,NaT,NaT,0,1,False,True,True,NaT,NaN
2,3169360958,1,BUS,2017-03-01 17:44:13,17:30:00,F07 00R,L-34-53-25-PO,BBJZ-74,NaN,NaT,NaT,NaT,0,1,True,True,True,00:00:02,2.0
3,2140206880,2,BUS,2017-03-01 17:44:16,17:30:00,F07 00R,L-34-53-25-PO,BBJZ-74,NaN,NaT,NaT,NaT,0,1,True,True,True,00:00:03,3.0
4,3149482742,1,BUS,2017-03-01 17:46:33,17:30:00,F07 00R,L-34-53-40-PO,BBJZ-74,NaN,NaT,NaT,NaT,0,1,False,True,True,NaT,NaN

In [11]:
type(processed_sorted_df.loc[0,'t_subida'])

pandas._libs.tslib.Timestamp

* Simplifying etapas

In [12]:
simplified_etapas = processed_sorted_df.loc[processed_sorted_df['servicio_subida'].str.contains('|'.join(selected_services)),:]

In [13]:
simplified_etapas.head()

,id,nviaje,tipo_transporte,t_subida,media_hora_subida,servicio_subida,par_subida,sitio_subida,UN,fecha_instalacion_ana,fecha_instalacion_mauricio,min_fecha,torniquete_mariposa,no_torniquete,mismo_paradero,misma_patente,mismo_servicio,diferencia_tiempo,diferencia_tiempo_secs
338,3918424538,1,BUS,2017-03-01 05:44:13,05:30:00,F03 C0 06R,L-34-107-5-PO,BBKB-11,NaN,NaT,NaT,NaT,0,1,False,False,False,NaT,NaN
339,2687909454,1,BUS,2017-03-01 05:45:18,05:30:00,F03 C0 06R,L-34-107-5-PO,BBKB-11,NaN,NaT,NaT,NaT,0,1,True,True,True,00:01:05,65.0
340,3181856472,1,BUS,2017-03-01 05:46:41,05:30:00,F03 C0 06R,L-34-107-10-PO,BBKB-11,NaN,NaT,NaT,NaT,0,1,False,True,True,NaT,NaN
341,2813628222,1,BUS,2017-03-01 05:46:44,05:30:00,F03 C0 06R,L-34-107-10-PO,BBKB-11,NaN,NaT,NaT,NaT,0,1,True,True,True,00:00:03,3.0
342,2478431022,1,BUS,2017-03-01 05:46:47,05:30:00,F03 C0 06R,L-34-107-10-PO,BBKB-11,NaN,NaT,NaT,NaT,0,1,True,True,True,00:00:03,3.0

In [14]:
len(simplified_etapas.index)

350656

* Building perfiles

In [15]:
import DailyPerfilesBuilder

In [16]:
perfiles_builder = DailyPerfilesBuilder.RunSilentlyDailyPerfilesBuilderClass(date)

In [17]:
#perfiles_builder.runSimplifyPerfiles()

In [18]:
perfiles_builder.loadSimplifiedPerfiles()
perfiles_builder.dropParaderos()
perfiles_builder.mergeTurnstileDatabase()

Not found in BOTH turnstile databases: 34888

In [19]:
perfiles_df = perfiles_builder.perfiles_df

In [20]:
type(perfiles_df.loc[0,'Hini'])

pandas._libs.tslib.Timestamp

* Simplifying perfiles

In [21]:
simplified_perfiles = perfiles_df.loc[perfiles_df['ServicioSentido'].str.contains('|'.join(selected_services)),:]

In [22]:
simplified_perfiles.head()

,ServicioSentido,Patente,Paradero,Hini,Hfin,idExpedicion,DistEnRuta,UN,fecha_instalacion_ana,fecha_instalacion_mauricio,min_fecha,torniquete_mariposa,no_torniquete
493,T108 00I,ZN-4332,T-13-369-PO-5,2017-03-01 00:03:59,2017-03-01 01:05:29,493,120,NaN,NaT,NaT,NaT,0,1
494,T108 00I,ZN-3957,T-13-369-PO-5,2017-03-01 00:31:08,2017-03-01 00:54:49,494,120,NaN,NaT,NaT,NaT,0,1
495,T108 00I,ZN-5075,T-13-369-PO-5,2017-03-01 00:32:08,2017-03-01 01:20:38,495,120,NaN,NaT,NaT,NaT,0,1
496,T108 00I,FLXH-73,T-13-369-PO-5,2017-03-01 00:35:51,2017-03-01 00:52:08,496,120,NaN,NaT,NaT,NaT,0,1
497,T108 00I,ZN-6450,T-13-369-PO-5,2017-03-01 05:25:44,2017-03-01 05:34:17,497,120,U1,2017-06-16,2017-06-16,2017-06-16,0,1

In [23]:
len(simplified_perfiles.index)

9766

## MERGING

* Unitary time

In [24]:
tic = time.clock()

servicio_tmp = simplified_perfiles.loc[493,'ServicioSentido']
patente_tmp = simplified_perfiles.loc[493,'Patente']
Hini_tmp = simplified_perfiles.loc[493,'Hini']
Hfin_tmp = simplified_perfiles.loc[493,'Hfin']
idExpedicion_tmp = simplified_perfiles.loc[493,'idExpedicion']

simplified_etapas.loc[(simplified_etapas['servicio_subida']==servicio_tmp)&(simplified_etapas['sitio_subida']==patente_tmp)&(Hini_tmp<=simplified_etapas['t_subida'])&(simplified_etapas['t_subida']<=Hfin_tmp),'idExpedicion'] = idExpedicion_tmp
toc = time.clock()

print(toc-tic)

0.18549392233241063

C:\Users\leoca_000\Anaconda3\lib\site-packages\pandas\core\indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\leoca_000\Anaconda3\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

1. Unitary time ~ 0.17 secs
2. Total time in simplified_perfiles dataframe is ~ 0.17x9766 ~ 1660 sec ~ 27 mins per date. <font color='green'> This is the solution </font>

* Complete process

In [25]:
tic = time.clock()

for index, row in simplified_perfiles.iterrows():
    servicio = row['ServicioSentido']
    patente = row['Patente']
    Hini = row['Hini']
    Hfin = row['Hfin']
    idExpedicion = row['idExpedicion']

    simplified_etapas.loc[(simplified_etapas['servicio_subida']==servicio)&(simplified_etapas['sitio_subida']==patente)&(Hini<=simplified_etapas['t_subida'])&(simplified_etapas['t_subida']<=Hfin),'idExpedicion'] = idExpedicion
    
toc = time.clock()
print(toc-tic)

C:\Users\leoca_000\Anaconda3\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

1239.1594723391268

* Total time was of 1343 secs = 22.4 mins per date. <font color='green'><strong> PASSED </strong></font>

* Testing NaNs

In [26]:
length = len(simplified_etapas.index)

In [27]:
total_NaNs = simplified_etapas[simplified_etapas['idExpedicion'].isnull()].count()[0]

In [28]:
print('% of NaNs is: ' + str((total_NaNs/length)*100) + '%')

% of NaNs is: 3.49601889031%

In [29]:
simplified_etapas.head()

,id,nviaje,tipo_transporte,t_subida,media_hora_subida,servicio_subida,par_subida,sitio_subida,UN,fecha_instalacion_ana,fecha_instalacion_mauricio,min_fecha,torniquete_mariposa,no_torniquete,mismo_paradero,misma_patente,mismo_servicio,diferencia_tiempo,diferencia_tiempo_secs,idExpedicion
338,3918424538,1,BUS,2017-03-01 05:44:13,05:30:00,F03 C0 06R,L-34-107-5-PO,BBKB-11,NaN,NaT,NaT,NaT,0,1,False,False,False,NaT,NaN,NaN
339,2687909454,1,BUS,2017-03-01 05:45:18,05:30:00,F03 C0 06R,L-34-107-5-PO,BBKB-11,NaN,NaT,NaT,NaT,0,1,True,True,True,00:01:05,65.0,NaN
340,3181856472,1,BUS,2017-03-01 05:46:41,05:30:00,F03 C0 06R,L-34-107-10-PO,BBKB-11,NaN,NaT,NaT,NaT,0,1,False,True,True,NaT,NaN,38318.0
341,2813628222,1,BUS,2017-03-01 05:46:44,05:30:00,F03 C0 06R,L-34-107-10-PO,BBKB-11,NaN,NaT,NaT,NaT,0,1,True,True,True,00:00:03,3.0,38318.0
342,2478431022,1,BUS,2017-03-01 05:46:47,05:30:00,F03 C0 06R,L-34-107-10-PO,BBKB-11,NaN,NaT,NaT,NaT,0,1,True,True,True,00:00:03,3.0,38318.0

## Closed