### Reducing etapas by Bus: This is a test

In [1]:
%matplotlib inline
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import numpy as np
import datetime as dt
import time

from importlib import reload
from Utils import TransantiagoConstants
import DailyEtapasBuilder

In [2]:
common_dates = TransantiagoConstants.common_dates

* Checking for bugs and refactoring

In [3]:
common_dates = common_dates[:1]

In [4]:
common_dates #Only first date

['2017-03-09']

In [5]:
torniquetesDataPath = "C:/Users/leoca_000/Desktop/Evasion/01_analisis/03_datos/03_BUSESTORNIQUETE/Avance_Consolidado_v2.xlsx"
busesTorniquete_df = pd.read_excel(torniquetesDataPath, encoding = 'latin-1')
busesTorniquete_df.columns=['sitio_subida','fecha_instalacion']

In [6]:
for date in common_dates:
    etapas_builder = DailyEtapasBuilder.RunSilentlyDailyEtapasBuilderClass(date)
    etapas_builder.loadSimplifiedEtapas()
    etapas_builder.mergeTurnstileData()
    etapas_builder.cleanDataFrame()
    etapas_builder.sortDataFrame()
    etapas_builder.postProcessingSortedDataFrame()
    filtered_df = etapas_builder.filteringDf()[0]
    groupby_summary = filtered_df.groupby(['sitio_subida'])['diferencia_tiempo_secs'].agg(['count','sum','mean'])
    groupby_summary['fecha'] = date
    groupby_summary.reset_index(inplace=True)
    groupby_summary = pd.merge(groupby_summary, busesTorniquete_df, on='sitio_subida', how='left')
    base_output_path = 'C:/Users/leoca_000/Desktop/Evasion/01_analisis/03_datos/01_SSH/01_TIMESBYBUS/01_ORIGINAL/test/'
    file_name = date + '-meanByBus.csv'
    groupby_summary.to_csv(base_output_path+file_name,sep =";")

Not found in turnstile database: 1795630

In [7]:
groupby_summary.head(10)

  sitio_subida  count     sum      mean       fecha fecha_instalacion
0      BBJZ-74    155  1188.0  7.664516  2017-03-09               NaT
1      BBJZ-76    158  1406.0  8.898734  2017-03-09        2016-11-01
2      BBJZ-80    184   747.0  4.059783  2017-03-09               NaT
3      BBKB-11    144   733.0  5.090278  2017-03-09               NaT
4      BBKB-12    167   973.0  5.826347  2017-03-09               NaT
5      BBKB-13    322  1451.0  4.506211  2017-03-09               NaT
6      BBKB-14    158  1268.0  8.025316  2017-03-09               NaT
7      BBKB-25     71   432.0  6.084507  2017-03-09               NaT
8      BBKB-27    201   932.0  4.636816  2017-03-09               NaT
9      BBKB-29     69   575.0  8.333333  2017-03-09               NaT

#### CHECKING FOR BBJZ_74

In [8]:
BBJZ_74 = filtered_df[filtered_df['sitio_subida']=='BBJZ-74']

In [9]:
BBJZ_74_count = len(BBJZ_74.index)
print(BBJZ_74_count)

155

In [10]:
total_dif_time_BBJZ_74 = BBJZ_74['diferencia_tiempo_secs'].sum()
print(total_dif_time_BBJZ_74)

1188.0

* BBJZ-74: Average for diferencia_tiempo_secs correctly computed. <font color="green"><strong>TEST PASSED</strong></font>

In [11]:
print(total_dif_time_BBJZ_74/BBJZ_74_count)

7.664516129032258

* BBJZ-74: NOT FOUND IN TURNSTILE DATABASE. <font color="green"><strong>TEST PASSED</strong></font>

In [12]:
busesTorniquete_df[busesTorniquete_df['sitio_subida']=='BBJZ-74']

Empty DataFrame
Columns: [sitio_subida, fecha_instalacion]
Index: []

#### CHECKING FOR BBJZ_76

In [13]:
BBJZ_76 = filtered_df[filtered_df['sitio_subida']=='BBJZ-76']

In [14]:
BBJZ_76_count = len(BBJZ_76.index)
print(BBJZ_76_count)

158

In [15]:
total_dif_time_BBJZ_76 = BBJZ_76['diferencia_tiempo_secs'].sum()
print(total_dif_time_BBJZ_76)

1406.0

* BBJZ-76: Average for diferencia_tiempo_secs correctly computed. <font color="green"><strong>TEST PASSED</strong></font>

In [16]:
print(total_dif_time_BBJZ_76/BBJZ_76_count)

8.89873417721519

* BBJZ-76: INSTALLATION DATE CORRECTLY APPENDED. <font color="green"><strong>TEST PASSED</strong></font>

In [17]:
busesTorniquete_df[busesTorniquete_df['sitio_subida']=='BBJZ-76']

     sitio_subida fecha_instalacion
2007      BBJZ-76        2016-11-01

### Closed