#  Matching Users

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
from importlib import reload
import datetime as dt
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

from Utils import TransantiagoConstants

first_quarter_path = "C:/Users/leoca_000/Desktop/Evasion/01_analisis/03_datos/06_RFA/01_EvasionTrimestral/01_analisis/1st_quarter.xlsx"
second_quarter_path = "C:/Users/leoca_000/Desktop/Evasion/01_analisis/03_datos/06_RFA/01_EvasionTrimestral/01_analisis/2nd_quarter.xlsx"
third_quarter_path = "C:/Users/leoca_000/Desktop/Evasion/01_analisis/03_datos/06_RFA/01_EvasionTrimestral/01_analisis/3rd_quarter.xlsx"
codes_path = "C:/Users/leoca_000/Desktop/Evasion/01_analisis/03_datos/04_DTPM/codes_services.xlsx"

first_quarter_evasion = pd.read_excel(first_quarter_path, encoding = 'latin-1')
second_quarter_evasion = pd.read_excel(second_quarter_path, encoding = 'latin-1')
third_quarter_evasion = pd.read_excel(third_quarter_path, encoding = 'latin-1')
codes = pd.read_excel(codes_path, encoding = 'latin-1')

first_quarter_evasion['TIEMPO'] = first_quarter_evasion['HORA'].astype(str)+':'+first_quarter_evasion['MINUTOS'].astype(str)+':00'
second_quarter_evasion['TIEMPO'] = second_quarter_evasion['HORA'].astype(str)+':'+second_quarter_evasion['MINUTOS'].astype(str)+':00'
third_quarter_evasion['TIEMPO'] = third_quarter_evasion['HORA'].astype(str)+':'+third_quarter_evasion['MINUTOS'].astype(str)+':00'

first_quarter_evasion.columns = ['FECHA', 'SERVICIO','PATENTE','PUERTAS','N_PUERTA','LUGAR_INICIO','HORA_INICIO','HORA','MINUTO','INGRESAN','NO_VALIDAN','TP','TIEMPO']
second_quarter_evasion.columns = ['FECHA', 'SERVICIO','TIPO','PATENTE','PUERTAS','N_PUERTA','LUGAR_INICIO','HORA_INICIO','HORA','MINUTO','INGRESAN','NO_VALIDAN','TP','TIEMPO']
third_quarter_evasion.columns = ['FECHA', 'SERVICIO','PATENTE','PUERTAS','N_PUERTA','LUGAR_INICIO','HORA_INICIO','HORA','MINUTO','INGRESAN','NO_VALIDAN','TP','TIEMPO']
del second_quarter_evasion['TIPO']

#Processing codes before merging.

codes_ida = codes[codes['DIRECTION']=='Ida']
codes_ret = codes[codes['DIRECTION']=='Ret']

codes_ida = codes_ida.rename(columns = {'USER_CODE':'SERVICIO'})
codes_ret = codes_ret.rename(columns = {'USER_CODE':'SERVICIO'})

del codes_ida['DIRECTION']
del codes_ret['DIRECTION']

In [2]:
print(type(first_quarter_evasion.loc[0,'TIEMPO'])) #should be a string
print(type(first_quarter_evasion.loc[0,'FECHA'])) #should be a timestamp

<class 'str'>
<class 'pandas._libs.tslib.Timestamp'>

In [3]:
frames = [first_quarter_evasion, second_quarter_evasion, third_quarter_evasion]
evasion = pd.concat(frames, keys=['first', 'second', 'third'])
del evasion['LUGAR_INICIO']

* Merge should be made only by codes_ida or codes_ret. Be aware of it

In [4]:
evasion = pd.merge(evasion,codes_ida, on=['SERVICIO'], how='left')

In [5]:
print(evasion.loc[evasion['TS_CODE'].isnull(),'SERVICIO'].unique()) #should be only D06, so the line below makes sense. Anyway, it is hardcoded so be aware.
evasion.loc[evasion['TS_CODE'].isnull(),'TS_CODE']='446'

['D06']

* Processing evasion-ddbb before merging

In [6]:
evasion['PATENTE'] =  evasion['PATENTE'].str.replace(' ','')

evasion['SERVICIO_TMP'] = evasion['SERVICIO'].apply(str)
evasion['TS_CODE_TMP'] = evasion['TS_CODE'].apply(str)

del evasion['SERVICIO']
del evasion['TS_CODE']

evasion = evasion.rename(columns = {'SERVICIO_TMP':'SERVICIO_USUARIO', 'TS_CODE_TMP':'SERVICIO'})
evasion_paradero = evasion[evasion['TP']=='P']
evasion_paradero_first = evasion_paradero[evasion_paradero['N_PUERTA']==1]
print(type(evasion['SERVICIO'][0])) #should be a string

<class 'str'>

In [7]:
print('Number of rows in complete evasion database is: ' + str(len(evasion.index)))
print('Number of rows in evasion in paradero database is: ' + str(len(evasion_paradero.index)))
print('Number of rows in evasion in paradero by first door database is: ' + str(len(evasion_paradero_first.index)))

Number of rows in complete evasion database is: 99422
Number of rows in evasion in paradero database is: 97706
Number of rows in evasion in paradero by first door database is: 34881

* Getting rid of duplicated rows

In [8]:
#Getting duplicated rows
duplicated_evasion_paradero_first = evasion_paradero_first[evasion_paradero_first.duplicated(['FECHA','PATENTE','PUERTAS','N_PUERTA','HORA_INICIO','HORA','MINUTO','TP','TIEMPO','UN','SERVICIO_USUARIO','SERVICIO'], keep=False)]
print('Number of duplicated rows in evasion in paradero by first door database is: ' + str(len(duplicated_evasion_paradero_first.index)))

#Colapsing duplicated rows
grouped_temporal_evasion_paradero_first = duplicated_evasion_paradero_first.groupby(['FECHA','PATENTE','PUERTAS','N_PUERTA','HORA_INICIO','HORA','MINUTO','TP','TIEMPO','UN','SERVICIO_USUARIO','SERVICIO'])['INGRESAN','NO_VALIDAN'].sum()
grouped_temporal_evasion_paradero_first = grouped_temporal_evasion_paradero_first.reset_index()
print('Number of collapsed-duplicated rows in evasion in paradero by first door database is: ' + str(len(grouped_temporal_evasion_paradero_first.index)))

#Deleting duplicated rows in evasion in paradero by first door database
non_duplicated_evasion_paradero_first = evasion_paradero_first.drop_duplicates(['FECHA','PATENTE','PUERTAS','N_PUERTA','HORA_INICIO','HORA','MINUTO','TP','TIEMPO','UN','SERVICIO_USUARIO','SERVICIO'], keep=False)
print('Number of rows in evasion in paradero by first door without duplicated rows at all is: ' + str(len(non_duplicated_evasion_paradero_first.index)))

#Appendind
del evasion_paradero_first
frames = [non_duplicated_evasion_paradero_first, grouped_temporal_evasion_paradero_first]
evasion_paradero_first = pd.concat(frames)
print('Final number of rows in evasion in paradero by first door with collapsed duplicated rows is: ' + str(len(evasion_paradero_first.index)))

Number of duplicated rows in evasion in paradero by first door database is: 2246
Number of collapsed-duplicated rows in evasion in paradero by first door database is: 1120
Number of rows in evasion in paradero by first door without duplicated rows at all is: 32635
Final number of rows in evasion in paradero by first door with collapsed duplicated rows is: 33755

* Filtering dates not in common dates

In [9]:
common_dates = TransantiagoConstants.common_dates
common_dates_timestamp = [pd.to_datetime(x) for x in common_dates]
common_dates_evasion = evasion_paradero_first[evasion_paradero_first['FECHA'].isin(common_dates_timestamp)]
len(common_dates_evasion.index) #Remember to store the number.

14756

* <font color='red'>Filtering for one specific common date and analyze it to refactor and debug <- this part should be omitted in the final script. Above methodology is general</font>

In [10]:
example = common_dates_evasion[common_dates_evasion['FECHA']==pd.to_datetime('2017-04-11')]

In [11]:
len(example.index)

1106

In [12]:
from RunSilentlyDailyEtapasBuilder import RunSilentlyDailyEtapasBuilderClass

In [13]:
date = '2017-04-11'
etapas_builder = RunSilentlyDailyEtapasBuilderClass(date)
filtered_df = etapas_builder.runLightCompleteProcess()

Not found in turnstile database: 1829611

In [14]:
len(filtered_df.index)

1650027

* Processing filtered_df before reducing complexity

In [15]:
filtered_df['servicio_subida'] =  filtered_df['servicio_subida'].str.replace('T','')
filtered_df['servicio_subida'] =  filtered_df['servicio_subida'].str.split(' ').str[0]

In [16]:
filtered_df['sitio_subida'] = filtered_df['sitio_subida'].str.replace("-", "")
filtered_df['sitio_subida'] = filtered_df['sitio_subida'].str.replace(" ", "")

* First: filter etapas by patentes and servicios surveyed in evasion ddbb so to reduce search space

In [17]:
patentes = example['PATENTE'].unique()
patentes = patentes.tolist()
servicios = example['SERVICIO'].unique()
servicios = servicios.tolist()

In [18]:
clean_filtered_df = filtered_df[(filtered_df['sitio_subida'].isin(patentes))&(filtered_df['servicio_subida'].isin(servicios))]

In [19]:
len(clean_filtered_df.index)

7692

* Evasion should be sorted first

In [20]:
example['TIEMPO'] = example['FECHA'].dt.strftime('%Y-%m-%d') + ' ' + example['TIEMPO']

C:\Users\leoca_000\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [21]:
example['TIEMPO'] = pd.to_datetime(example['TIEMPO'])

C:\Users\leoca_000\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [22]:
example = example.sort_values(by=['PATENTE', 'SERVICIO', 'TIEMPO'], ascending=[True, True, True])

In [23]:
example = example.reset_index(drop =True)

In [24]:
example.head(8)

,FECHA,HORA,HORA_INICIO,INGRESAN,MINUTO,NO_VALIDAN,N_PUERTA,PATENTE,PUERTAS,SERVICIO,SERVICIO_USUARIO,TIEMPO,TP,UN
0,2017-04-11,15,15:10:00,5,10,0,1,BJFB62,3,507,507,2017-04-11 15:10:00,P,5.0
1,2017-04-11,15,15:10:00,0,12,0,1,BJFB62,3,507,507,2017-04-11 15:12:00,P,5.0
2,2017-04-11,15,15:10:00,2,16,1,1,BJFB62,3,507,507,2017-04-11 15:16:00,P,5.0
3,2017-04-11,15,15:10:00,2,18,1,1,BJFB62,3,507,507,2017-04-11 15:18:00,P,5.0
4,2017-04-11,15,15:10:00,5,19,4,1,BJFB62,3,507,507,2017-04-11 15:19:00,P,5.0
5,2017-04-11,15,15:10:00,2,21,2,1,BJFB62,3,507,507,2017-04-11 15:21:00,P,5.0
6,2017-04-11,15,15:10:00,8,23,0,1,BJFB62,3,507,507,2017-04-11 15:23:00,P,5.0
7,2017-04-11,15,15:10:00,3,27,1,1,BJFB62,3,507,507,2017-04-11 15:27:00,P,5.0

In [25]:
clean_filtered_df[(clean_filtered_df['sitio_subida']=='BJFB62')&(clean_filtered_df['servicio_subida']=='507')&(clean_filtered_df['t_subida']>=pd.to_datetime('2017-04-11 15:08:00'))].head(15)

,index,id,nviaje,tipo_transporte,t_subida,servicio_subida,par_subida,sitio_subida,fecha_instalacion,mismo_paradero,misma_patente,mismo_servicio,diferencia_tiempo,diferencia_tiempo_secs,si_torniquete,si_2017_torniquete
182373,1981835,3249105194,5,BUS,2017-04-11 15:09:26,507,L-32-11-45-NS,BJFB62,NaT,True,True,True,00:00:05,5.0,False,False
182374,2145745,3540430542,5,BUS,2017-04-11 15:09:27,507,L-32-11-45-NS,BJFB62,NaT,True,True,True,00:00:01,1.0,False,False
182375,2547799,4011394493,5,BUS,2017-04-11 15:09:29,507,L-32-11-45-NS,BJFB62,NaT,True,True,True,00:00:02,2.0,False,False
182380,1167151,2118814731,2,BUS,2017-04-11 15:23:30,507,E-18-156-OP-5,BJFB62,NaT,True,True,True,00:00:03,3.0,False,False
182381,185839,52625842,1,BUS,2017-04-11 15:23:32,507,E-18-156-OP-5,BJFB62,NaT,True,True,True,00:00:02,2.0,False,False
182382,1928328,3171666990,3,BUS,2017-04-11 15:23:32,507,E-18-156-OP-5,BJFB62,NaT,True,True,True,00:00:00,0.0,False,False
182383,739110,930720571,2,BUS,2017-04-11 15:23:34,507,E-18-156-OP-5,BJFB62,NaT,True,True,True,00:00:02,2.0,False,False
182384,1994025,3263196660,2,BUS,2017-04-11 15:23:34,507,E-18-156-OP-5,BJFB62,NaT,True,True,True,00:00:00,0.0,False,False
182385,2592308,4040936109,1,BUS,2017-04-11 15:23:36,507,E-18-156-OP-5,BJFB62,NaT,True,True,True,00:00:02,2.0,False,False
182386,2066004,3447063707,2,BUS,2017-04-11 15:23:48,507,E-18-156-OP-5,BJFB62,NaT,True,True,True,00:00:12,12.0,False,False
182388,777363,933023227,1,BUS,2017-04-11 15:27:32,507,T-18-156-OP-30,BJFB62,NaT,True,True,True,00:00:02,2.0,False,False
182390,382279,242553588,2,BUS,2017-04-11 15:30:24,507,T-18-156-OP-40,BJFB62,NaT,True,True,True,00:00:50,50.0,False,False
182391,36984,26691554,1,BUS,2017-04-11 15:30:35,507,T-18-156-OP-40,BJFB62,NaT,True,True,True,00:00:11,11.0,False,False
182392,1415908,2511371518,3,BUS,2017-04-11 15:30:37,507,T-18-156-OP-40,BJFB62,NaT,True,True,True,00:00:02,2.0,False,False
182395,590040,541849836,2,BUS,2017-04-11 15:34:28,507,T-18-156-OP-53,BJFB62,NaT,True,True,True,00:00:02,2.0,False,False

In [34]:
del clean_filtered_df['index']

In [35]:
clean_filtered_df = clean_filtered_df.reset_index(drop=True)

In [36]:
clean_filtered_df.head()

,id,nviaje,tipo_transporte,t_subida,servicio_subida,par_subida,sitio_subida,fecha_instalacion,mismo_paradero,misma_patente,mismo_servicio,diferencia_tiempo,diferencia_tiempo_secs,si_torniquete,si_2017_torniquete
0,3562465182,2,BUS,2017-04-11 08:03:48,507,L-10-37-20-NS,BJFB62,NaT,True,True,True,00:00:02,2.0,False,False
1,4215780843,1,BUS,2017-04-11 08:19:55,507,T-10-64-PO-20,BJFB62,NaT,True,True,True,00:00:00,0.0,False,False
2,3571286987,1,BUS,2017-04-11 08:20:24,507,T-10-64-PO-20,BJFB62,NaT,True,True,True,00:00:29,29.0,False,False
3,2165381155,1,BUS,2017-04-11 08:39:36,507,T-8-66-PO-15,BJFB62,NaT,True,True,True,00:00:07,7.0,False,False
4,1428947328,1,BUS,2017-04-11 08:39:37,507,T-8-66-PO-15,BJFB62,NaT,True,True,True,00:00:01,1.0,False,False

In [26]:
i = 0
past_plate = '-'
past_service = '-'

example['total_delta']=''
example['mean_delta']=''
example['count_delta']=''
example['start_cut']=''
example['end_cut']=''

for index,row in example.iterrows():
    future_index = index+1
    actual_plate = row['PATENTE']
    actual_service = row['SERVICIO']
    actual_hour = row['TIEMPO']
    
    if (actual_plate!=past_plate)|(actual_service!=past_service):
        past_hour = pd.to_datetime('2017-04-11 00:00:00') #Starting hour <- consider to change this
        
    if past_hour == pd.to_datetime('2017-04-11 00:00:00'): #Assuming a pre-defined value, i.e., 1 minute.
        start_cut = actual_hour - (pd.to_datetime('2017-04-11 00:02:00') - pd.to_datetime('2017-04-11 00:01:00'))
    else:
        start_cut = actual_hour - (actual_hour - past_hour)/2
    
    if future_index >= len(example.index): #We are at the end of the ddff. Assuming a pre-defined value, i.e., 1 minute.
        end_cut = actual_hour + (pd.to_datetime('2017-04-11 00:02:00') - pd.to_datetime('2017-04-11 00:01:00'))
    else:
        future_hour = example.loc[future_index,'TIEMPO']
        end_cut = actual_hour + (future_hour - actual_hour)/2  

    util_df = clean_filtered_df[(clean_filtered_df['sitio_subida']==actual_plate)&(clean_filtered_df['servicio_subida']==actual_service)&((start_cut<=clean_filtered_df['t_subida'])&(clean_filtered_df['t_subida']<=end_cut))]
    util_df_indexes = util_df.index.values
    number_of_indexes = len(util_df_indexes)
    
    first_util_df_index = util_df_indexes[0]
    last_util_df_index = util_df_indexes[number_of_indexes-1]
    #Checking up of util_df --- until a condition is reached
    j=1
    while True:
        upper_util_row = clean_filtered_df.loc(first_util_df_index-j)
        if upper_util_row['par_subida'] == util_df['par_subida']: #Si el paradero de subida de la fila inmediatamente anterior al util_df es el mismo, then append it and continue
            util_df.concat[upper_util_row]
            j=j+1
        else 
    
    
    total_delta = util_df['diferencia_tiempo_secs'].sum()
    mean_delta = util_df['diferencia_tiempo_secs'].mean()
    count_delta = util_df['diferencia_tiempo_secs'].count() 
    
    example.loc[index,'total_delta'] = total_delta
    example.loc[index,'mean_delta'] = mean_delta
    example.loc[index,'count_delta'] = count_delta
    example.loc[index,'start_cut']=start_cut
    example.loc[index,'end_cut']=end_cut
    
    past_plate = actual_plate
    past_service = actual_service
    past_hour = actual_hour
    
    i=i+1
#    if (actual_plate == 'ZN6539')&(actual_service=='109'):
#        print(i)
#        print(start_cut)
#        print(end_cut)

#        break

# TEST METHODOLOGY (Check issue #8)

In [27]:
example.head(10)

,FECHA,HORA,HORA_INICIO,INGRESAN,MINUTO,NO_VALIDAN,N_PUERTA,PATENTE,PUERTAS,SERVICIO,SERVICIO_USUARIO,TIEMPO,TP,UN,total_delta,mean_delta,count_delta,start_cut,end_cut
0,2017-04-11,15,15:10:00,5,10,0,1,BJFB62,3,507,507,2017-04-11 15:10:00,P,5.0,8,2.66667,3,2017-04-11 15:09:00,2017-04-11 15:11:00
1,2017-04-11,15,15:10:00,0,12,0,1,BJFB62,3,507,507,2017-04-11 15:12:00,P,5.0,0,NaN,0,2017-04-11 15:11:00,2017-04-11 15:14:00
2,2017-04-11,15,15:10:00,2,16,1,1,BJFB62,3,507,507,2017-04-11 15:16:00,P,5.0,0,NaN,0,2017-04-11 15:14:00,2017-04-11 15:17:00
3,2017-04-11,15,15:10:00,2,18,1,1,BJFB62,3,507,507,2017-04-11 15:18:00,P,5.0,0,NaN,0,2017-04-11 15:17:00,2017-04-11 15:18:30
4,2017-04-11,15,15:10:00,5,19,4,1,BJFB62,3,507,507,2017-04-11 15:19:00,P,5.0,0,NaN,0,2017-04-11 15:18:30,2017-04-11 15:20:00
5,2017-04-11,15,15:10:00,2,21,2,1,BJFB62,3,507,507,2017-04-11 15:21:00,P,5.0,0,NaN,0,2017-04-11 15:20:00,2017-04-11 15:22:00
6,2017-04-11,15,15:10:00,8,23,0,1,BJFB62,3,507,507,2017-04-11 15:23:00,P,5.0,21,3,7,2017-04-11 15:22:00,2017-04-11 15:25:00
7,2017-04-11,15,15:10:00,3,27,1,1,BJFB62,3,507,507,2017-04-11 15:27:00,P,5.0,2,2,1,2017-04-11 15:25:00,2017-04-11 15:28:00
8,2017-04-11,15,15:10:00,2,29,1,1,BJFB62,3,507,507,2017-04-11 15:29:00,P,5.0,50,50,1,2017-04-11 15:28:00,2017-04-11 15:30:30
9,2017-04-11,15,15:10:00,7,32,3,1,BJFB62,3,507,507,2017-04-11 15:32:00,P,5.0,13,6.5,2,2017-04-11 15:30:30,2017-04-11 15:33:00

* Above table shows:
- PATENTE == BJFB62 & TIEMPO == 2017-04-11 15:10:00 & SERVICIO == 507 > sum = 08, mean = 2.66667, count = 3 > check them in clean_filtered_df.loc[182369:182380] > <font color='green'>Test passed</font>
- PATENTE == BJFB62 & TIEMPO == 2017-04-11 15:32:00 & SERVICIO == 507 > sum = 13, mean = 6.50000, count = 2 > check them in clean_filtered_df.loc[182388:182395] > <font color='green'>Test passed, although incorrectly assignment</font>

In [28]:
clean_filtered_df.loc[182369:182380]

,index,id,nviaje,tipo_transporte,t_subida,servicio_subida,par_subida,sitio_subida,fecha_instalacion,mismo_paradero,misma_patente,mismo_servicio,diferencia_tiempo,diferencia_tiempo_secs,si_torniquete,si_2017_torniquete
182369,797542,933914219,1,BUS,2017-04-11 09:31:55,507,T-18-156-PO-27,BJFB62,NaT,True,True,True,00:00:16,16.0,False,False
182373,1981835,3249105194,5,BUS,2017-04-11 15:09:26,507,L-32-11-45-NS,BJFB62,NaT,True,True,True,00:00:05,5.0,False,False
182374,2145745,3540430542,5,BUS,2017-04-11 15:09:27,507,L-32-11-45-NS,BJFB62,NaT,True,True,True,00:00:01,1.0,False,False
182375,2547799,4011394493,5,BUS,2017-04-11 15:09:29,507,L-32-11-45-NS,BJFB62,NaT,True,True,True,00:00:02,2.0,False,False
182380,1167151,2118814731,2,BUS,2017-04-11 15:23:30,507,E-18-156-OP-5,BJFB62,NaT,True,True,True,00:00:03,3.0,False,False

In [29]:
clean_filtered_df.loc[182388:182395]

,index,id,nviaje,tipo_transporte,t_subida,servicio_subida,par_subida,sitio_subida,fecha_instalacion,mismo_paradero,misma_patente,mismo_servicio,diferencia_tiempo,diferencia_tiempo_secs,si_torniquete,si_2017_torniquete
182388,777363,933023227,1,BUS,2017-04-11 15:27:32,507,T-18-156-OP-30,BJFB62,NaT,True,True,True,00:00:02,2.0,False,False
182390,382279,242553588,2,BUS,2017-04-11 15:30:24,507,T-18-156-OP-40,BJFB62,NaT,True,True,True,00:00:50,50.0,False,False
182391,36984,26691554,1,BUS,2017-04-11 15:30:35,507,T-18-156-OP-40,BJFB62,NaT,True,True,True,00:00:11,11.0,False,False
182392,1415908,2511371518,3,BUS,2017-04-11 15:30:37,507,T-18-156-OP-40,BJFB62,NaT,True,True,True,00:00:02,2.0,False,False
182395,590040,541849836,2,BUS,2017-04-11 15:34:28,507,T-18-156-OP-53,BJFB62,NaT,True,True,True,00:00:02,2.0,False,False

In [30]:
example.tail(10)

,FECHA,HORA,HORA_INICIO,INGRESAN,MINUTO,NO_VALIDAN,N_PUERTA,PATENTE,PUERTAS,SERVICIO,SERVICIO_USUARIO,TIEMPO,TP,UN,total_delta,mean_delta,count_delta,start_cut,end_cut
1096,2017-04-11,14,14:12:00,0,27,0,1,ZN6539,4,109,109,2017-04-11 14:27:00,P,1.0,0,NaN,0,2017-04-11 14:26:30,2017-04-11 14:28:30
1097,2017-04-11,14,14:12:00,1,30,0,1,ZN6539,4,109,109,2017-04-11 14:30:00,P,1.0,0,NaN,0,2017-04-11 14:28:30,2017-04-11 14:30:30
1098,2017-04-11,14,14:12:00,7,31,4,1,ZN6539,4,109,109,2017-04-11 14:31:00,P,1.0,8,4,2,2017-04-11 14:30:30,2017-04-11 14:32:30
1099,2017-04-11,14,14:12:00,1,34,0,1,ZN6539,4,109,109,2017-04-11 14:34:00,P,1.0,0,NaN,0,2017-04-11 14:32:30,2017-04-11 14:35:30
1100,2017-04-11,14,14:12:00,2,37,0,1,ZN6539,4,109,109,2017-04-11 14:37:00,P,1.0,21,21,1,2017-04-11 14:35:30,2017-04-11 14:39:00
1101,2017-04-11,14,14:12:00,0,41,0,1,ZN6539,4,109,109,2017-04-11 14:41:00,P,1.0,0,NaN,0,2017-04-11 14:39:00,2017-04-11 14:43:00
1102,2017-04-11,14,14:12:00,1,45,1,1,ZN6539,4,109,109,2017-04-11 14:45:00,P,1.0,0,NaN,0,2017-04-11 14:43:00,2017-04-11 14:46:30
1103,2017-04-11,14,14:12:00,3,48,0,1,ZN6539,4,109,109,2017-04-11 14:48:00,P,1.0,0,NaN,0,2017-04-11 14:46:30,2017-04-11 14:50:30
1104,2017-04-11,14,14:12:00,6,53,4,1,ZN6539,4,109,109,2017-04-11 14:53:00,P,1.0,2,2,1,2017-04-11 14:50:30,2017-04-11 14:56:00
1105,2017-04-11,14,14:12:00,8,59,2,1,ZN6539,4,109,109,2017-04-11 14:59:00,P,1.0,2,2,1,2017-04-11 14:56:00,2017-04-11 15:00:00

* Above table shows:
- PATENTE == ZN6539 & TIEMPO == 2017-04-11 14:31:00 & SERVICIO == 109 > sum = 08, mean = 04, count = 02 > check them in clean_filtered_df.loc[2527175:2527180] > <font color='green'>Test passed</font>
- PATENTE == ZN6539	& TIEMPO == 2017-04-11 14:37:00 & SERVICIO == 109 > sum = 21, mean = 21, count = 01 > check them in clean_filtered_df.loc[2527178:2527187] > <font color='green'>Test passed</font>

In [31]:
clean_filtered_df.loc[2527175:2527180]

,index,id,nviaje,tipo_transporte,t_subida,servicio_subida,par_subida,sitio_subida,fecha_instalacion,mismo_paradero,misma_patente,mismo_servicio,diferencia_tiempo,diferencia_tiempo_secs,si_torniquete,si_2017_torniquete
2527175,1662929,2785618139,1,BUS,2017-04-11 14:23:49,109,T-13-94-PO-30,ZN6539,NaT,True,True,True,00:00:53,53.0,False,False
2527177,2425383,3885681483,1,BUS,2017-04-11 14:30:34,109,E-13-278-PO-15,ZN6539,NaT,True,True,True,00:00:05,5.0,False,False
2527178,1053325,1748002792,2,BUS,2017-04-11 14:30:37,109,E-13-278-PO-15,ZN6539,NaT,True,True,True,00:00:03,3.0,False,False
2527180,1317392,2460982364,1,BUS,2017-04-11 14:38:35,109,T-13-88-PO-5,ZN6539,NaT,True,True,True,00:00:21,21.0,False,False

In [32]:
clean_filtered_df.loc[2527178:2527187]

,index,id,nviaje,tipo_transporte,t_subida,servicio_subida,par_subida,sitio_subida,fecha_instalacion,mismo_paradero,misma_patente,mismo_servicio,diferencia_tiempo,diferencia_tiempo_secs,si_torniquete,si_2017_torniquete
2527178,1053325,1748002792,2,BUS,2017-04-11 14:30:37,109,E-13-278-PO-15,ZN6539,NaT,True,True,True,00:00:03,3.0,False,False
2527180,1317392,2460982364,1,BUS,2017-04-11 14:38:35,109,T-13-88-PO-5,ZN6539,NaT,True,True,True,00:00:21,21.0,False,False
2527187,1870876,3168476574,2,BUS,2017-04-11 14:54:25,109,T-20-176-SN-17,ZN6539,NaT,True,True,True,00:00:02,2.0,False,False

In [37]:
util_df

,index,id,nviaje,tipo_transporte,t_subida,servicio_subida,par_subida,sitio_subida,fecha_instalacion,mismo_paradero,misma_patente,mismo_servicio,diferencia_tiempo,diferencia_tiempo_secs,si_torniquete,si_2017_torniquete
2527190,1923230,3171402254,2,BUS,2017-04-11 14:59:15,109,T-20-176-SN-40,ZN6539,NaT,True,True,True,00:00:02,2.0,False,False

In [39]:
df_indexes = util_df.index.values

In [45]:
length = len(df_indexes)

In [46]:
df_indexes[length-1]

2527190