## Merging idExpedicion from Perfiles to Etapas ddbb

In [1]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

In [3]:
import pandas as pd
import time
import DailyEtapasBuilder

In [4]:
date = '2017-03-01'

In [5]:
etapas_builder = DailyEtapasBuilder.RunSilentlyDailyEtapasBuilderClass(date)

In [6]:
etapas_builder.loadSimplifiedEtapas()
etapas_builder.mergeTurnstileData()
etapas_builder.cleanDataFrame()
etapas_builder.sortDataFrame()
etapas_builder.postProcessingSortedDataFrame()
processed_sorted_df = etapas_builder.etapas_df

Not found in turnstile database: 1614656

In [7]:
import DailyPerfilesBuilder

In [8]:
perfiles_builder = DailyPerfilesBuilder.RunSilentlyDailyPerfilesBuilderClass(date)

* Building simplified perfiles... not always needed

In [9]:
#perfiles_builder.runSimplifyPerfiles()

* Loading perfiles

In [10]:
perfiles_builder.loadSimplifiedPerfiles()

In [11]:
perfiles_df = perfiles_builder.perfiles_df

* Getting rid of duplicated rows

In [13]:
perfiles_df.drop_duplicates(['ServicioSentido','Patente','idExpedicion'], keep='first', inplace=True)
perfiles_df.reset_index(drop=True,inplace=True)

In [14]:
import numpy as np

In [15]:
perfiles_df['Hini'] = pd.to_datetime(perfiles_df['Hini'])
perfiles_df['Hfin'] = pd.to_datetime(perfiles_df['Hfin'])

In [16]:
tic = time.clock()

servicio_tmp = perfiles_df.loc[0,'ServicioSentido']
patente_tmp = perfiles_df.loc[0,'Patente']
Hini_tmp = perfiles_df.loc[0,'Hini']
Hfin_tmp = perfiles_df.loc[0,'Hfin']
idExpedicion_tmp = perfiles_df.loc[0,'idExpedicion']

processed_sorted_df.loc[(processed_sorted_df['servicio_subida']==servicio_tmp)&(processed_sorted_df['sitio_subida']==patente_tmp)&(Hini_tmp<=processed_sorted_df['t_subida'])&(processed_sorted_df['t_subida']<=Hfin_tmp),'idExpedicion'] = idExpedicion_tmp
toc = time.clock()

print(toc-tic)

0.8260601622468046

1. Unitary time ~ 0.7s
2. Total time in whole perfiles dataframe is ~ 0.7x73000 ~ 14 hrs per date. <font color='red'> This is not the solution </font>

In [35]:
tic = time.clock()

servicio = processed_sorted_df.loc[0,'servicio_subida']
patente = processed_sorted_df.loc[0,'sitio_subida']
t_subida = processed_sorted_df.loc[0,'t_subida']

idExpedicion = perfiles_df.loc[(perfiles_df['ServicioSentido']==servicio)
                               &(perfiles_df['Patente']==patente)
                               &(perfiles_df['Hini']<=t_subida)
                               &(t_subida<=perfiles_df['Hfin']),'idExpedicion']
if idExpedicion.empty:
    idExpedicion = 'not-found'

processed_sorted_df.loc[0,'idExpedicion'] = idExpedicion

toc = time.clock()
print(toc-tic)

0.07680372277832248

1. Unitary time ~ 0.2 s
2. Total time in whole etapas dataframe is ~ 0.2x2.2M ~ 122 hrs per date. <font color='red'> This is not the solution either </font>

In [37]:
processed_sorted_df.head()

,id,nviaje,tipo_transporte,t_subida,media_hora_subida,servicio_subida,par_subida,sitio_subida,fecha_instalacion,mismo_paradero,misma_patente,mismo_servicio,diferencia_tiempo,diferencia_tiempo_secs,si_torniquete,si_2017_torniquete,idExpedicion
0,3552888222,1,BUS,2017-03-01 17:39:47,17:30:00,F07 00R,L-34-89-2-PO,BBJZ-74,NaT,False,False,False,NaT,NaN,False,False,not-found
1,2529602798,1,BUS,2017-03-01 17:44:11,17:30:00,F07 00R,L-34-53-25-PO,BBJZ-74,NaT,False,True,True,NaT,NaN,False,False,NaN
2,3169360958,1,BUS,2017-03-01 17:44:13,17:30:00,F07 00R,L-34-53-25-PO,BBJZ-74,NaT,True,True,True,00:00:02,2.0,False,False,NaN
3,2140206880,2,BUS,2017-03-01 17:44:16,17:30:00,F07 00R,L-34-53-25-PO,BBJZ-74,NaT,True,True,True,00:00:03,3.0,False,False,NaN
4,3149482742,1,BUS,2017-03-01 17:46:33,17:30:00,F07 00R,L-34-53-40-PO,BBJZ-74,NaT,False,True,True,NaT,NaN,False,False,NaN

In [38]:
perfiles_df.loc[(perfiles_df['ServicioSentido']==servicio)&(perfiles_df['Patente']==patente),:]

,ServicioSentido,Patente,Paradero,Hini,Hfin,idExpedicion,DistEnRuta
1719291,F07 00R,BBJZ-74,L-34-89-2-PO,2017-03-01 17:41:42,2017-03-01 18:11:42,37160,21
1719543,F07 00R,BBJZ-74,L-34-89-2-PO,2017-03-01 18:43:42,2017-03-01 19:23:13,37167,21
1719831,F07 00R,BBJZ-74,L-34-89-2-PO,2017-03-01 20:29:13,2017-03-01 20:59:13,37175,21